openapi: 3.0.0
info:
  description: |
    <p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>
  title: Paxos API
  version: "2.0"
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- description: Production
  url: https://api.paxos.com/v2
- description: Sandbox
  url: https://api.sandbox.paxos.com/v2
tags:
- description: |
    Profiles hold asset balances, and every Paxos transaction is on a particular profile.
    Depending on your integration type, Profiles may be used to reflect both corporate balances or individual user balances.
    There are two types of Profiles:
    - `DEFAULT` Profiles are system-generated.
    - `NORMAL` Profiles are created using the [Create Profile](#operation/CreateProfile) endpoint and are the only type of Profile you can create.
  name: Profiles
- description: |
    Quotes are "held rates" offered by Paxos to buy or sell assets at a specific
    price within a period of time - for example, the option to buy BTC within
    the next 30 seconds for $8,000.

    The typical Quotes workflow is as follows:

    1. Call [List Quotes](#operation/ListQuotes) to get the latest available
       quoted prices for the assets you want to buy or sell.
    1. Present the offered price to one or more end-users, with a timer
       indicating the time to expiration.
    1. If a user accepts the price, call [Create Quote Execution](#operation/CreateQuoteExecution) with the amount to buy or sell.
    1. Call [Get Quote Execution](#operation/GetQuoteExecution) to monitor
       for completion and know when the funds from the execution are available.

    It's important to show end-users the latest available price. If you cache
    prices to show them to multiple users, you should refresh the cache once
    per second.

    You can call [List Quote Executions](#operation/ListQuoteExecutions) to
    review or construct reports on quote execution activity.
  name: Quotes
- description: |
    Quote Executions buy or sell assets using a Quote obtained from
    the [Quotes](#tag/Quotes) flow.
  name: Quote Executions
- description: |
    <p>There are three types of orders: market, limit and post-only.</p>
    <p>Market orders guarantee execution at a variable price and quantity. Limit orders guarantee price and quantity at the time of execution but do not guarantee execution. Post-only is an order type that will only be placed on the order book if it is the maker side of a trade.</p>
  name: Orders
- description: |
    Market data provides various parameters of the order book and historical order data.
  name: Market Data
- description: |
    Pricing provides historical data related to charting of asset prices.

    Note: Some Pricing API markets may be unavailable for trading.
  name: Pricing
- description: |
    An Identity represents an individual person or institution entity with funds held in custody by Paxos, either directly or indirectly.
    To fully onboard an individual to Paxos, There are 2 key features that are both necessary : id verification and sanctions screening.
    Whereas to onboard an institution to Paxos, sanctions screening along with some additional documents must be submitted and then our
    compliance team will review the information and approve the identity if it is verified.

    The Identity API enables you to create and update the details associated with an identity on the Paxos platform. You can also use it to monitor the approval status of an identity to understand when they are cleared to transact.
  name: Identity
- description: |
    An institution identity can have one or more institution members. Each institution member references
    a single identity.

    Institution members are effectively immutable. In order to update properties of
    an existing member, clients should remove the existing member and add a new member with the desired state.

    To use this API, clients must have write access to the institution
    and all identities given membership. Otherwise, a client error is returned.
  name: Institution Members
- description: |
    An identity can have one or more Accounts on the Paxos platform. Accounts maintain additional context,
    such as tax status and can also be used to represent Joint Accounts where more than one identity has access
    or control over transaction activity.
  name: Accounts
- description: |
    The Account Members API allows clients to manage account members.

    Account members are effectively immutable. In order to update an account member,
    clients should remove then re-add the account member with the desired state.

    The API requires clients to have write access on the account and all identities
    associated with the account.
  name: Account Members
- description: |
    ### **NOTICE**: The following section is under a CLOSED BETA thus it is not available for all clients. Using these endpoints when outside the closed beta will result in a 403 result.

    The Identity Documents API allows clients to send documents to Paxos to validate identities
    during the KYC process. Files can be updated multiple times by re-sending the document type
    for processing.

    We currently accept the following file formats:
    - <code>pdf</code>
    - <code>jpg</code>
    - <code>png</code>

    Steps to upload a document are as follows:
    1. Send a <code>PUT</code> request to <code>/identity/identities/{id}/documents</code> to get
      the upload URL.
    1. Send your document to the provided URL via a PUT request. Take the following example using curl:
      <code>$ curl --upload-file Proof_of_residence.jpg $URI </code>

    Uploaded document metadata will be availiable via <code>GET</code> request to <code>/identity/identities/{id}/documents</code>
  name: Identity Documents
- description: |
    The Fiat Transfers API allows clients to deposit and withdraw fiat via the following Fiat Networks: Wire (Fedwire and SWIFT) and CBIT. The supported asset is USD.

    The full set of Fiat Transfers API endpoints is:
    - For Deposits:
      - [Create Fiat Deposit Instructions](#operation/CreateFiatDepositInstructions)
      - [List Fiat Deposit Instructions](#operation/ListFiatDepositInstructions)
      - [Get Fiat Deposit Instructions](#operation/GetFiatDepositInstructions)
    - For Withdrawals:
      - [Create Fiat Account](#operation/CreateFiatAccount)
      - [List Fiat Accounts](#operation/ListFiatAccounts)
      - [Get Fiat Account](#operation/GetFiatAccount)
      - [Delete Fiat Account](#operation/DeleteFiatAccount)
      - [Update Fiat Account](#operation/UpdateFiatAccount)
      - [Create Fiat Withdrawal](#operation/CreateFiatWithdrawal)
  name: Fiat Transfers
- description: |
    <p>Swap between fiat and stablecoin using <a href="#operation/CreateStablecoinConversion">Create Stablecoin Conversion</a> and check the status of a <a href="#operation/GetStablecoinConversion">single conversion</a> or retrieve a <a href="#operation/ListStablecoinConversions">list of conversions</a>.</p>
  name: Stablecoin Conversion
- description: |
    Each deposit to and withdrawal from a Paxos account is a Transfer.
    A Transfer is associated with a particular Profile, and increases or
    decreases the available balance of a single asset in that Profile.
  name: Transfers
- description: |
    All tax forms are associated to a single account_id.
    An account_id can have multiple tax forms associated with it.
    US 1099-B and 1099-Misc tax forms for the previous fiscal year will be available in February of the current calendar year.
    Previous years tax forms are also available by request.
  name: Tax Forms
- description: |
    For [Paxos Global PTE Ltd](https://help.paxos.com/hc/en-us/articles/9647005243284) users, update or reject a crypto deposit that does not contain the required [travel rule](https://help.paxos.com/hc/en-us/articles/25928845778068) information.
    Deposits with the `NEEDS_INFO` status require additional sender information before they can be processed.
    - For individuals, both first and last name are required.
    - For institutions, the institution name is required.

    If a deposit is rejected, the funds will no longer be available.
  externalDocs:
    description: Learn more about travel rule udpates →
    url: https://help.paxos.com/hc/en-us/articles/25422999706900
  name: Crypto Deposits
- description: |
    Use the Settlements API to facilitate simultaneous exchange of pre-funded assets. Automate a variety of use cases that require two-party approval, including net settlement of over-the-counter trades, withdrawal requests for tri-party collateral, payment requests, and bilateral settlement for marketplace end users.

    The simple request-and-approval workflow supports both one-directional and bidirectional transactions to allow a user to receive an asset (for example, send USDP) or simultaneously send and receive assets (for example, send USD and receive BTC and ETH). Only when all parties are in agreement and assets are fully funded does the Settlements API allow for change of custody. Upon completion, all settled assets are immediately available for trading, transferring, withdrawal or other supported activities.

    The Source Profile initiates the transaction for the Target Profile to approve. The `DIRECTION` of each asset is always relative to the Source Profile and only the owner of the Source Profile can cancel a transaction if it hasn’t been approved by the Target Profile.
  externalDocs:
    description: Learn more about the Settlement APIs →
    url: https://docs.paxos.com/settlements
  name: Settlement
paths:
  /profiles:
    get:
      description: |-
        Return the associated Profiles for the current Account.
        The paginated results default to the maximum limit of 1,000 Profiles, unless otherwise specified with the `limit` parameter.
        Every paginated response contains a `next_page` field until the last page is reached.
        Pass the `next_page` value into the `page_cursor` field of the next request to retrieve the next page of results.
      operationId: ListProfiles
      parameters:
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return items in ascending (ASC) or descending (DESC) order. Defaults
          to ASC.
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - description: The specific method by which the returned results will be ordered.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - CREATED_AT
          type: string
        style: form
      - description: Cursor token for fetching the next page.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    items:
                    - id: 1a763ac5-13d9-4568-bb8b-747c416b105c
                      nickname: default
                      type: DEFAULT
                    - id: b7b77d82-e6a7-4ae9-9904-36231aedf985
                      nickname: MyProfileName
                      type: NORMAL
              schema:
                $ref: '#/components/schemas/ListProfilesResponse'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: List Profiles
      tags:
      - Profiles
    post:
      description: Create a new profile for this account. Profiles created using this
        endpoint always have a type of `NORMAL`.
      operationId: CreateProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: A successful response.
      security:
      - OAuth2:
        - funding:write_profile
      summary: Create Profile
      tags:
      - Profiles
  /profiles/{profile_id}:
    get:
      description: "Read a single profile by its UUID, or read the default profile\
        \ using the alias \"default\"."
      operationId: GetProfile
      parameters:
      - description: "The UUID of the profile, or \"default\" for the default profile."
        explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                profile_id=b7b77d82-e6a7-4ae9-9904-36231aedf985:
                  value:
                    id: b7b77d82-e6a7-4ae9-9904-36231aedf985
                    nickname: MyProfileName
                    type: NORMAL
              schema:
                $ref: '#/components/schemas/Profile'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: Get Profile
      tags:
      - Profiles
  /profiles/{profile_id}/balances:
    get:
      description: |-
        Retrieve the Profile’s available and trading balances.
        Use query parameters to retrieve a defined set of assets.
        Omit query parameters to retrieve all asset balances.
      operationId: ListProfileBalances
      parameters:
      - explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: assets
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                assets=BTC,USD:
                  value:
                    items:
                    - asset: BTC
                      available: "1.23103715"
                      trading: ".25"
                    - asset: USD
                      available: "1510.23"
                      trading: "100.00"
                All Assets:
                  value:
                    items:
                    - asset: USD
                      available: "1510.23"
                      trading: "100.00"
                    - asset: EUR
                      available: "0"
                      trading: "0"
                    - asset: SGD
                      available: "0"
                      trading: "0"
                    - asset: BTC
                      available: "1.23103715"
                      trading: ".25"
                    - asset: ETH
                      available: "0"
                      trading: "0"
                    - asset: PAXG
                      available: "0"
                      trading: "0"
                    - asset: BCH
                      available: "0"
                      trading: "0"
                    - asset: SOL
                      available: "0"
                      trading: "0"
              schema:
                $ref: '#/components/schemas/ListProfileBalancesResponse'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: List Profile Balances
      tags:
      - Profiles
  /profiles/{profile_id}/balances/{asset}:
    get:
      description: Get the balance of `asset` in a profile.
      operationId: GetProfileBalance
      parameters:
      - explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: asset
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileBalance'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: Get Profile Balance
      tags:
      - Profiles
  /sandbox/profiles/{profile_id}/deposit:
    post:
      description: |-
        Create a test deposit to fund a profile in the sandbox environment.

        Always specify `crypto_network` when making a crypto sandbox deposit. Omit the parameter when depositing fiat.

        *This functionality is only available in the sandbox environment.*
      operationId: CreateSandboxDeposit
      parameters:
      - description: The ID of the profile that will credited with the assets.
        explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSandboxDepositRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSandboxDepositResponse'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: Create Sandbox Deposit
      tags:
      - Sandbox Deposits
  /identity/identities:
    get:
      description: |-
        This endpoint enables you to fetch a list of identities that you have created within the Paxos platform. You
        can use query parameters to filter the results returned by:
        - Summary Status of the Identity
        - Date created
        - Date updated

        Note that this endpoint supports pagination and returns a cursor token for fetching next pages.
      operationId: ListIdentities
      parameters:
      - description: Summary Status of the Identity.
        explode: true
        in: query
        name: summary_status
        required: false
        schema:
          enum:
          - PENDING
          - ERROR
          - APPROVED
          - DENIED
          - DISABLED
          type: string
        style: form
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return items in ascending (ASC) or descending (DESC) order. Defaults
          to DESC.
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - description: The specific method by which the returned results will be ordered.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - CREATED_AT
          type: string
        style: form
      - description: Cursor token for fetching the next page.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Optionally filter by Identity type
        explode: true
        in: query
        name: identity_type
        required: false
        schema:
          enum:
          - PERSON
          - INSTITUTION
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdentitiesResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:read_identity
      summary: List Identities
      tags:
      - Identity
    post:
      description: |-
        This enables you to create a new identity within the Paxos platform. Depending upon the fields provided, the
        identity will either be person or an institution.

        - [create person identity](#create-person-identity)
        - [create institution identity](#create-institution-identity)

        A successful response indicates that the identity has been created. This does not mean that
        it has already been processed. You can use the unique ID returned within the response to check
        the approval status of the identity.

        ### Create Person Identity
        The Person identity type is used to represent individuals on the platform. Attributes of the Person identity type are recorded in the *person_details* field.

        Note that fields not listed below are forbidden in this request.

        Field | Notes
        ---|---
        person_details | Required
        metadata | Optional
        tax_details | Optional
        ref_id | Optional

        For US based identities, if the `tax_details` attribute is empty, it will be backfilled with the `cip_id` and `cip_id_country` fields from the `person_details` attribute.
        For international identities, the `tax_details` attribute must be present.

        Currently both `JUMIO` or `PASSTHROUGH` are supported for verification, but only `JUMIO` is enabled by default.

        - [create person identity with jumio verification](#automatic-id-verification-with-jumio)
        - [create person identity with passthrough verification](#automatic-id-verification-with-passthrough)

        #### Automatic ID Verification with Jumio
        To use Jumio, you must submit the fields listed below as part of the `person_details` attribute in your request.

        Field | Notes
        ---|---
        person_details.verifier_type | Required. Must be `JUMIO`
        person_details.verifier_id | Required
        person_details.address | Required

        Please note that when using this method:
        - You must ensure that the identity has already been validated by Jumio before submitting the identity to Paxos.
        - You must have previously [set the API credentials for Jumio access](#operation/SetVerifierCredentials).

        Paxos will compare the provided information with the information returned from the Jumio API.

        In the event that there is a conflict between the submitted data and the data returned from the identity provider,
        the information from the identity provider will be preferred.

        ##### Example Request
        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"person_details": {
        &nbsp;&nbsp;&nbsp;&nbsp;"verifier_id": "b7b77d82-e6a7-4ae9-9904-36231aedf985",
        &nbsp;&nbsp;&nbsp;&nbsp;"verifier_type": "JUMIO",
        &nbsp;&nbsp;&nbsp;&nbsp;"first_name": "John",
        &nbsp;&nbsp;&nbsp;&nbsp;"last_name": "Doe",
        &nbsp;&nbsp;&nbsp;&nbsp;"date_of_birth": "1980-01-01",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id": "111-11-1111",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id_type": "SSN",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id_country": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"nationality": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"profession": "Engineer",
        &nbsp;&nbsp;&nbsp;&nbsp;"country_of_birth": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"address": {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"country": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"address1": "1 Example St",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"city": "New York",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"province": "NY",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"zip_code": "10001"
        &nbsp;&nbsp;&nbsp;&nbsp;},
        &nbsp;&nbsp;&nbsp;&nbsp;"ref_id": "33ece656-eef1-43b5-a851-b6b9099089a5"
        &nbsp;&nbsp;}
        }
        </code>
        </pre>

        #### Automatic ID Verification with Passthrough
        To use Passthrough, Paxos Compliance must first confirm your eligibility.

        Once confirmed, you can submit the fields listed below as part of the the `person_details` attribute in your request.

        | Field                                          | Notes                                                                                                     |
        |------------------------------------------------|-----------------------------------------------------------------------------------------------------------|
        | person_details.verifier_type                   | Required. Must be `PASSTHROUGH`                                                                           |
        | person_details.passthrough_verifier_type       | Required. Specifies the ID Verification provider you originally used                                      |
        | person_details.passthrough_verified_at         | Required                                                                                                  |
        | person_details.passthrough_verification_id     | Unique identifier for the underlying individual's ID verification record.                                 |
        | person_details.passthrough_verification_status | Status of the ID verification indicating whether the identity was approved or denied.                     |
        | person_details.passthrough_verification_fields | List of verification fields used by the external verifier to validate the individual's identity.          |
        | person_details.address                         | Required                                                                                                  |

        Note that the following field is forbidden in the request:
        `person_details.verifier_id`

        ##### Example Request
        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"person_details": {
        &nbsp;&nbsp;&nbsp;&nbsp;"verifier_type": "PASSTHROUGH",
        &nbsp;&nbsp;&nbsp;&nbsp;"passthrough_verifier_type": "JUMIO",
        &nbsp;&nbsp;&nbsp;&nbsp;"passthrough_verified_at": "2021-06-16T09:28:14Z",
        &nbsp;&nbsp;&nbsp;&nbsp;"passthrough_verification_id": "775300ef-4edb-47b9-8ec4-f45fe3cbf41f",
        &nbsp;&nbsp;&nbsp;&nbsp;"passthrough_verification_status": "APPROVED",
        &nbsp;&nbsp;&nbsp;&nbsp;"passthrough_verification_fields": ["FULL_LEGAL_NAME", "DATE_OF_BIRTH"]
        &nbsp;&nbsp;&nbsp;&nbsp;"first_name": "John",
        &nbsp;&nbsp;&nbsp;&nbsp;"last_name": "Doe",
        &nbsp;&nbsp;&nbsp;&nbsp;"date_of_birth": "1980-01-01",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id_type": "SSN",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id": "111-11-1111",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id_country": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"nationality": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"profession": "Engineer",
        &nbsp;&nbsp;&nbsp;&nbsp;"country_of_birth": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"address": {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"country": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"address1": "1 Example St",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"city": "New York",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"province": "NY",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"zip_code": "10001"
        &nbsp;&nbsp;&nbsp;&nbsp;},
        &nbsp;&nbsp;&nbsp;&nbsp;"ref_id": "33ece656-eef1-43b5-a851-b6b9099089a5"
        &nbsp;&nbsp;}
        }
        </code>
        </pre>

        ### Create Institution Identity
        Institution identities are used to represent all non-person entities.
        Details for institution identity type are recorded in `institution_details`. An institution identity also has `institution_members` associated with it. This defines persons or other entities that have some relationship to the institution.

        We support the following types and sub-types of institutions. Note that all institution types listed do share some common validations that can also be found below.

        #### Supported Institution Types

        institution_type | Supported institution_member roles | Notes
        ---| ---| ---
        `TRUST` | `BENEFICIAL_OWNER`<br>`BENEFICIARY`<br>`GRANTOR`<br>`TRUSTEE` | [See Trusts](#trust-institutions-requirement)
        `CORPORATION`<br>`LLC`<br>`PARTNERSHIP` | `ACCOUNT_OPENER`<br>`AUTHORIZED_USER`<br>`BENEFICIAL_OWNER`<br>`MANAGEMENT_CONTROL_PERSON` | [See other Institutions](#institutions-requirement)

        #### Industry Type to Institution Subtypes Mapping
        institution_sub_type | industry
        ---| ---
        `ACCOMMODATION_FOOD_SERVICES` |   Food or Beverage Services
        `ADMINISTRATIVE_SUPPORT_WASTE_MANAGEMENT_REMEDIATION_SERVICES` |  Administrative and Support Services
        `ADULT_ENTERTAINMENT` | Adult Entertainment / Pornography
        `AGRICULTURE_FORESTRY_FISHING_HUNTING` | Agriculture
        `ARTS_ENTERTAINMENT_RECREATION` | Arts, Entertainment, and Recreation
        `AUCTIONS` | Auction Houses / Art Galleries
        `AUTOMOBILES` | Automobiles / Automotives
        `BLOCKCHAIN` | Blockchain Technology
        `CONSTRUCTION` | Construction
        `CRYPTO` | Crypto Services and Products (Mining, Exchange, Broker)
        `DRUGS` | Illicit Drugs / Drug Paraphernalia
        `E_COMMERCE` | E-Commerce
        `EDUCATIONAL_SERVICES` | Educational Services
        `EXPORT_IMPORT` | Export / Import Companies
        `FINANCE_INSURANCE` | Other Financial & Insurance Services (Not Referenced Elsewhere)
        `FINANCIAL_INSTITUTION` | Financial Institution
        `GAMBLING` | Gaming, Gambling, Casinos, or Sports Betting
        `HEALTH_CARE_SOCIAL_ASSISTANCE` | Health Care and Social Assistance
        `HEDGE_FUND` | Pooled Investment Vehicle / Investment Fund / Hedge Fund
        `INFORMATION` | Information, Communications, and Media
        `INSURANCE` | Insurance
        `INVESTMENT` | Investment
        `MANAGEMENT_OF_COMPANIES_ENTERPRISES` | Management of Companies & Enterprises (Holding Companies)
        `MANUFACTURING` | Manufacturing
        `MARKET_MAKER` | Market Maker / Proprietary Trading
        `MINING` | Oil & Gas
        `MONEY_SERVICE_BUSINESS` | Money Services Business / Money Transmitters (including ATMs)
        `NON_PROFIT` | Non-Profit, Charity or Political Organizations
        `OTHER_SERVICES` | Other
        `PRECIOUS_METALS` | Jewelry or Precious Metals (Mining, Transportation, Dealing or Retail)
        `PROFESSIONAL_SCIENTIFIC_TECHNICAL_SERVICES` | Professional Services (Consulting, Legal, Accounting, etc.)
        `PUBLIC_ADMINISTRATION` | Public or Government Services
        `RANSOMWARE` | Ransomware / Facilitators of Ransomware Transactions
        `REAL_ESTATE_RENTAL_LEASING` | Real Estate and Rental and Leasing
        `REGISTERED_INVESTMENT_ADVISOR` | Registered Investment Advisor
        `RETAIL_TRADE` | Retail Trade
        `SHELL_BANK` | Shell Banks or Shell Companies
        `STO_ISSUER` | Security Token Offering (STO) Issuer
        `TRANSPORTATION_WAREHOUSING` | Transportation and Services
        `TRAVEL_TRANSPORT` | Travel, Accomodation or Transport
        `UTILITIES` | Utilities
        `WEAPONS` | Weapons or Arms (Manufacturing, Sales or Transportation)
        `WHOLESALE_TRADE` | Wholesale Trade

        Notes:
        - `INVESTMENT` is only supported by the institution type `TRUST`.
        - All other subtypes are only supported by types `CORPORATION`, `LLC` and `PARTNERSHIP`.

        #### Prohibited Institution Subtypes

        Paxos prohibits certain types of business activity (“Prohibited Businesses”) in accordance with its Compliance policies.
        The following non-exhaustive list is representative of the type of activity that Paxos prohibits on its platform.
        By creating a Paxos Identity, Paxos customers agree not to use Paxos services in connection with any of the following Prohibited Businesses.

        - `ADULT_ENTERTAINMENT`
        - `DRUGS`
        - `RANSOMWARE`
        - `SHELL_BANK`
        - `WEAPONS`

        #### Shared Validations Across All Institution Types

        Field | Notes
        ---|---
        cip_id | One of EIN, REGISTRATION_NUMBER, SSN, ITIN. SSN and ITIN are only supported for passthrough/revocable entities.
        tax_details | Automatically populated if the cip_id_type is SSN, ITIN or EIN.
        tax_details_not_required | Can be set for non-US institutions where tax details are not required.
        metadata | Optional
        ref_id | Optional

        #### Specifying Institution Members and Their Roles

        Field | Notes
        ---|---
        identity_id | Required
        roles | Required.
        ownership | Optional. Must be between 0 and 100
        position | Optional

        Note
        See supported institution types for details on which roles are supported by which institution type.

        #### Fields Required for Trusts

        Type | Fields
        ---|---
        Required | name, cip_id, cip_id_type, cip_id_country, institution_type, institution_sub_type, business_address, govt_registration_date
        Optional | phone_number, email, incorporation_address, regulation_status, trading_type, listed_exchange, ticker_symbol, parent_institution_name, regulator_jurisdiction, regulator_name, regulator_register_number

        Notes
        Fields not listed are forbidden in the request. `institution_type` must be set to TRUST. `institution_sub_type` must be set to Investment.
        `incorporation_address` is required for Trusts where their cip_id_type is not SSN or ITIN.

        ##### Example Request for a Trust
        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"institution_members": [{
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "33ece656-eef1-43b5-a851-b6b9099089a5",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["GRANTOR"]
        &nbsp;&nbsp;&nbsp;&nbsp;},
        &nbsp;&nbsp;&nbsp;&nbsp;{
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "44ece656-eef1-43b5-a851-b6b9099089a6",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["TRUSTEE"]
        &nbsp;&nbsp;&nbsp;&nbsp;}],
        &nbsp;&nbsp;"institution_details": {
        &nbsp;&nbsp;&nbsp;&nbsp;"name": "Trust A",
        &nbsp;&nbsp;&nbsp;&nbsp;"business_address": {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"country": "United States",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"address1": "1 Example St",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"city": "New York",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"province": "NY",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"zip_code": "10001"
        &nbsp;&nbsp;&nbsp;&nbsp;},
        &nbsp;&nbsp;&nbsp;&nbsp;"email": "institution_a@acorp.com",
        &nbsp;&nbsp;&nbsp;&nbsp;"institution_type": "CORPORATION",
        &nbsp;&nbsp;&nbsp;&nbsp;"institution_sub_type": "HEDGE_FUND",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id": "11-1111111",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id_type": "EIN",
        &nbsp;&nbsp;&nbsp;&nbsp;"cip_id_country": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"govt_registration_date": "2021-04-14T00:00:00Z",
        &nbsp;&nbsp;&nbsp;&nbsp;"incorporation_address": {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"country": "United States",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"address1": "1 Example St",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"city": "New York",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"province": "NY",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"zip_code": "10001"
        &nbsp;&nbsp;&nbsp;&nbsp;},
        &nbsp;&nbsp;&nbsp;&nbsp;"regulation_status": "US_REGULATED",
        &nbsp;&nbsp;&nbsp;&nbsp;"trading_type": "PUBLIC",
        &nbsp;&nbsp;&nbsp;&nbsp;"listed_exchange": "NASDAQ",
        &nbsp;&nbsp;&nbsp;&nbsp;"ticker_symbol": "ABC",
        &nbsp;&nbsp;&nbsp;&nbsp;"regulator_name": "SEC",
        &nbsp;&nbsp;&nbsp;&nbsp;"regulator_jurisdiction": "USA",
        &nbsp;&nbsp;&nbsp;&nbsp;"regulator_register_number": "111-111111"
        &nbsp;&nbsp;}
        }
        </code>
        </pre>

        #### Fields Required for Institutions (excluding Trusts and Registered Investment Advisors)

        Type | Fields
        ---|---
        Required | name, cip_id, cip_id_type, cip_id_country, institution_type, institution_sub_type, business_address, incorporation_address, govt_registration_date, regulation_status, trading_type
        Optional | phone_number, email, listed_exchange, ticker_symbol, parent_institution_name, regulator_jurisdiction, regulator_name, regulator_register_number

        #### Creating Financially Regulated Institutions
        Please refer to the following table for creating institutions which are financially regulated.

        regulation_status | Notes
        ---|---
        US_REGULATED | Institution financially regulated in the US
        INTL_REGULATED | Institution financially regulated by an international entity
        NON_REGULATED | Non-financially regulated institution

        Note that each category of `regulation_status` then has additional validations tied to `trading type` and other required fields.

        regulation_status | trading_type | fields required | Notes
        ---|---|---|---
        US_REGULATED | PRIVATE | regulator_name, regulator_jurisdiction, regulator_register_number | Not publicly traded
        US_REGULATED | PUBLIC | listed_ exchange, ticker_symbol, regulator_name, regulator_jurisdiction, regulator_register_number | Publicly traded
        US_REGULATED | PUBLICLY_TRADED_SUBSIDIARY | listed_exchange, ticker_symbol, regulator_name, regulator_jurisdiction, regulator_register_number, parent_institution_name | Subsidiary of a publicly traded company
        INTL_REGULATED | PRIVATE | regulator_name, regulator_jurisdiction, regulator_register_number | Not publicly traded
        INTL_REGULATED | PUBLIC | listed_ exchange, ticker_symbol, regulator_name, regulator_jurisdiction, regulator_register_number | Publicly traded
        INTL_REGULATED | PUBLICLY_TRADED_SUBSIDIARY | listed_exchange, ticker_symbol, regulator_name, regulator_jurisdiction, regulator_register_number, parent_institution_name | Subsidiary of a publicly traded company
        NON_REGULATED | PRIVATE | PRIVATE | Not publicly traded
        NON_REGULATED | PUBLIC | listed_exchange, ticker_symbol | Publicly traded

        #### Fields required for Registered Investment Advisors (RIA)

        RIAs are a special sub-type of Institution. Usage of this sub-type requires prior authorization and approval from Paxos.

        Notes
        `institution_sub_type` must be set to REGISTERED_INVESTMENT_ADVISOR. The list of required and optional fields below varies slightly from other supported institutions
        while certain fields are optional (e.g. trading_type), if they are specified in the request, their input will been validated

        Type | Fields
        ---|---
        Required | name, cip_id, cip_id_type, cip_id_country, institution_type, institution_sub_type, business_address, regulation_status, regulator_jurisdiction, regulator_name, regulator_register_number
        Optional | phone_number, email, listed_exchange, ticker_symbol, parent_institution_name, incorporation_address, govt_registration_date, trading_type
      operationId: CreateIdentity
      requestBody:
        content:
          application/json:
            examples:
              Create Person Identity:
                value:
                  person_details:
                    verifier_type: PASSTHROUGH
                    passthrough_verifier_type: JUMIO
                    passthrough_verified_at: 2021-06-16T09:28:14Z
                    first_name: John
                    last_name: Doe
                    date_of_birth: 1980-01-01
                    phone_number: +1 555 678 1234
                    email: example@somemail.org
                    cip_id: 111-11-1234
                    cip_id_type: SSN
                    cip_id_country: USA
                    nationality: USA
                    address:
                      country: USA
                      address1: 1 Example St
                      city: New York
                      province: NY
                      zip_code: "10001"
                    metadata:
                      custom_property1: custom value 1
                      custom_property2: custom value 2
                  ref_id: 33ece656-eef1-43b5-a851-b6b9099089a5
              Create Institutional Identity:
                value:
                  institution_members:
                  - identity_id: a81d4cf9-da6d-40ff-9366-0405aedfd31e
                    roles:
                    - GRANTOR
                  - identity_id: e458c723-edfa-478e-a01c-939707c0be9f
                    roles:
                    - TRUSTEE
                  - identity_id: b11242ea-5772-4970-934b-6336540ded05
                    roles:
                    - BENEFICIAL_OWNER
                  institution_details:
                    name: Institution A
                    institution_type: TRUST
                    institution_sub_type: INVESTMENT
                    cip_id: 12-9569897
                    cip_id_type: EIN
                    cip_id_country: USA
                    govt_registration_date: 2021-04-14T00:00:00Z
                    business_address:
                      address1: 1 Example St
                      city: New York
                      country: USA
                      province: NY
                      zip_code: "10001"
                    incorporation_address:
                      address1: 1 Example St
                      city: New York
                      country: USA
                      province: NY
                      zip_code: "10001"
                    regulation_status: NON_REGULATED
                    trading_type: PRIVATE
                  ref_id: 33ece656-eef1-43b5-a851-b6b9099089a6
            schema:
              $ref: '#/components/schemas/CreateIdentityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Person Identity with Passthrough:
                  value:
                    created_at: 2022-02-15T05:46:50.957068Z
                    id: 36ae1728-c54a-4046-86df-8a413e0ab9b3
                    person_details:
                      additional_screening_status: PENDING
                      address:
                        address1: 1 Example St
                        city: New York
                        country: USA
                        province: NY
                        zip_code: "10001"
                      cip_id: 111-11-1234
                      cip_id_country: USA
                      cip_id_type: SSN
                      date_of_birth: 1980-01-01
                      first_name: John
                      govt_id: 111-11-1234
                      govt_id_type: SSN
                      id_verification_status: APPROVED
                      last_name: Doe
                      nationality: USA
                      passthrough_verified_at: 2021-06-16T09:28:14Z
                      passthrough_verifier_type': JUMIO
                      sanctions_verification_status: PENDING
                      verifier_type: PASSTHROUGH
                    ref_id: 33ece656-eef1-43b5-a851-b6b9099089a5
                    summary_status: PENDING
                    tax_details:
                    - tax_payer_country: USA
                      tax_payer_id: 111-11-1234
                    type: PERSON
                    updated_at: 2022-02-15T05:46:50.957068Z
                Create Institutional Identity:
                  value:
                    created_at: 2022-02-15T22:47:06.808912Z
                    id: 09d32f7b-fe0c-47d0-9968-89267909320a
                    institution_details:
                      additional_screening_status: PENDING
                      business_address:
                        address1: 1 Example St
                        city: New York
                        country: USA
                        province: NY
                        zip_code: "10001"
                      cip_id: 12-9876543
                      cip_id_country: USA
                      cip_id_type: EIN
                      document_verification_status: PENDING
                      govt_registration_date: 2021-04-14T00:00:00Z
                      incorporation_address:
                        address1: 1 Example St
                        city: New York
                        country: USA
                        province: NY
                        zip_code: "10001"
                      institution_sub_type: INVESTMENT
                      institution_type: TRUST
                      name: Institution A
                      regulation_status: NON_REGULATED
                      sanctions_verification_status: PENDING
                      trading_type: PRIVATE
                    institution_members:
                    - identity_id: a81d4cf9-da6d-40ff-9366-0405aedfd31e
                      roles:
                      - GRANTOR
                    - identity_id: e458c723-edfa-478e-a01c-939707c0be9f
                      roles:
                      - TRUSTEE
                    - identity_id: b11242ea-5772-4970-934b-6336540ded05
                      roles:
                      - BENEFICIAL_OWNER
                    ref_id: 33ece656-eef1-43b5-a851-b6b9099089a6
                    summary_status: PENDING
                    tax_details:
                    - tax_payer_country: USA
                      tax_payer_id: 12-9876543
                    type: INSTITUTION
                    updated_at: 2022-02-15T22:47:06.808912Z
              schema:
                $ref: '#/components/schemas/Identity'
          description: A successful response.
        "409":
          content:
            application/json:
              examples:
                Create Identity with the same SSN:
                  value:
                    type: https://developer.paxos.com/docs/v2/problems/already-exists
                    title: Already Exists
                    status: 409
                    detail: "duplicate (cip_id, cip_id_type, cip_id_country) provided"
                    meta:
                      existing:
                        id: 36ae1728-c54a-4046-86df-8a403e0ab9b3
                Duplicate fef_id provided:
                  value:
                    type: https://developer.paxos.com/docs/v2/problems/already-exists
                    title: Already Exists
                    status: 409
                    detail: duplicate ref_id provided
                    meta:
                      existing:
                        id: c9560de1-835c-48fa-bd1a-e91da2ef770c
              schema:
                $ref: '#/components/schemas/Problem'
          description: Duplicate identity record
      security:
      - OAuth2:
        - identity:write_identity
      summary: Create Identity
      tags:
      - Identity
  /identity/identities/{identity_id}/documents:
    get:
      description: This endpoint enables you to get a list of all documents associated
        with an identity.
      operationId: ListIdentityDocuments
      parameters:
      - description: id associated with the identity
        explode: false
        in: path
        name: identity_id
        required: true
        schema:
          type: string
        style: simple
      - description: Add a list of pending document types for the identity
        explode: true
        in: query
        name: include_pending_docs
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List Identity Documents:
                  value:
                    documents:
                    - file_id: e1959b03-8c3d-4bdd-9437-403ccf8772f5
                      name: test_file.png
                      document_types:
                      - OTHER_DOCUMENTS
                      - APPLICATION
                      created_at: 2023-07-07T23:03:19.170481Z
              schema:
                $ref: '#/components/schemas/ListIdentityDocumentsResponse'
          description: A successful response.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    detail: Identity with id f6b1365a-dc8e-4526-aa3f-e688826c36be
                      doesn't exist
                    status: 404
                    title: Not Found
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Not Found
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  value:
                    detail: Forbidden
                    status: 403
                    title: Forbidden
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Permissions Denied
      security:
      - OAuth2:
        - identity:read_identity
      summary: List Identity Documents
      tags:
      - Identity Documents
    put:
      description: |-
        This endpoint enables you to receive a URL to upload a document to Paxos.
        When uploading a document one must specify the document type, you will receive a
        URL to upload a document into using a POST request. (see curl documentation)
      operationId: DocumentUpload
      parameters:
      - description: The id of the identity the document is associated with.
        explode: false
        in: path
        name: identity_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Create Document Upload:
                value:
                  name: Proof_of_residence.jpg
                  document_types:
                  - PROOF_OF_RESIDENCY
            schema:
              $ref: '#/components/schemas/DocumentUploadRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Document Upload:
                  value:
                    file_id: f190b163-208f-4d73-8deb-4fb8b24add00
                    name: Proof_of_residence.jpg
                    upload_url: https://s3.amasonaws.com/pax...cec3f64fe20348685a
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
          description: A successful response.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  value:
                    detail: document storage not enabled
                    status: 403
                    title: Forbidden
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Permissions Denied
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    detail: identity does not exist
                    status: 404
                    title: Not Found
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Not Found
        "400":
          content:
            application/json:
              examples:
                Invalid Request:
                  value:
                    detail: "must provide a file name, up to 260 characters"
                    status: 400
                    title: Bad Request
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "409":
          content:
            application/json:
              examples:
                Duplicate File Name:
                  value:
                    detail: file named "Proof_of_residence.jpg" already exists
                    meta:
                      existing:
                        name: Proof_of_residence.jpg
                    status: 409
                    title: Already Exists
                    type: https://developer.paxos.com/docs/v2/problems/already-exists
              schema:
                $ref: '#/components/schemas/Problem'
          description: Already Exists
      security:
      - OAuth2:
        - identity:write_identity
      summary: Document Upload
      tags:
      - Identity Documents
  /identity/identities/{id}:
    get:
      description: |-
        Get an identity by ID. By default, the identity details (person_details or institution_details) will not be returned.
        Set `?include_details=true` to receive them in the response. For institution type identities,
        members will not be returned in the default response. Set `?include_institution_members=true` to get the members.

        An identity is allowed to transact on the Paxos platform when `summary_status` is `"APPROVED"`.
      operationId: GetIdentity
      parameters:
      - description: id associated with the identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "query param; details are encrypted, so we do not want to include\
          \ them by default"
        explode: true
        in: query
        name: include_details
        required: false
        schema:
          type: boolean
        style: form
      - description: query param; to include institution members for institution identity
        explode: true
        in: query
        name: include_institution_members
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: A successful response.
      security:
      - OAuth2:
        - identity:read_identity
      summary: Get Identity
      tags:
      - Identity
    put:
      description: |-
        This enables you to update an existing identity with new information. Please note that:
        - Updating any field other than `set_user_disabled`, `metadata`, `ref_id`, or `is_merchant` will transition the identity to a PENDING status.
        This will restrict the identity until it has been re-verified.
        - Setting `set_user_disabled` to `true` will disable the identity, limiting its ability to be used within
        the Paxos platform.
        - Setting `is_merchant` to `true` will indicate that this identity is a merchant.
        - Details of the identity can be updated by providing `person_details` or `institution_details` depending upon the type.
        - You can add, update or remove tax_details by providing the `tax_details` list. The tax_details will be updated to exactly
        comprise the given list

        Note: Identity conversion from person to institution type or vice-versa is not permitted.
      operationId: UpdateIdentity
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIdentityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_identity
      summary: Update Identity
      tags:
      - Identity
  /identity/identities/{id}/retry-id-verification:
    post:
      description: |-
        This endpoint enables you to retry the ID verification for an identity with verifier type PAXOS
        by setting the id verification status to PENDING and returning a new id verification URL.
      operationId: RetryIdVerification
      parameters:
      - description: id associated with the identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryIdVerificationResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_identity
      summary: Retry Id Verification
      tags:
      - Identity Credentials
  /identity/verifier-credentials:
    post:
      description: |-
        Set the credentials used for automatic verification with a supported identity provider. This applies for only
        `PERSON` type identities.

        ### Supported Identity Providers

        Provider | verifier_type | Verifier Scope
        ---|---|---
        Jumio | JUMIO | Retrieve & Delete
      operationId: SetVerifierCredentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetVerifierCredentialsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetVerifierCredentialsResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_verifier_credentials
      summary: Set Verifier Credentials
      tags:
      - Identity Credentials
  /identity/institution-members:
    post:
      description: |-
        Add one or more institution members to a given institution.

        Adding new members doesn't affect existing members. For example, if an institution has three
        members, and adds two members using this API, then the institution would end up with five total members.

        For details on the properties that can be specified when creating institution members,
        see [Specifying Institution Members and Their Roles](#specifying-institution-members-and-their-roles).
      operationId: AddInstitutionMembers
      requestBody:
        content:
          application/json:
            examples:
              Add Institution Members:
                value:
                  institution_id: 2908fa8b-427a-4089-b2cf-17654c604623
                  members:
                  - identity_id: 31abdcbd-2801-4dbc-8986-adec3828391b
                    roles:
                    - GRANTOR
                  - identity_id: 58def33e-b68f-47d3-bc2b-62b1f68f21e5
                    roles:
                    - TRUSTEE
            schema:
              $ref: '#/components/schemas/AddInstitutionMembersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Add Institution Members:
                  value:
                    institution_id: 2908fa8b-427a-4089-b2cf-17654c604623
                    members:
                    - identity_id: 31abdcbd-2801-4dbc-8986-adec3828391b
                      roles:
                      - GRANTOR
                      id: 23ebbcd3-0fe6-48c8-9a2c-a35572b0e8ba
                    - identity_id: 58def33e-b68f-47d3-bc2b-62b1f68f21e5
                      roles:
                      - TRUSTEE
                      id: a0a0d270-0dd1-40b7-85ce-de713c47bcec
              schema:
                $ref: '#/components/schemas/AddInstitutionMembersResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_identity
      summary: Add Institution Members
      tags:
      - Institution Members
  /identity/institution-members/{id}:
    delete:
      description: Removes an institution member from an institution.
      operationId: DeleteInstitutionMember
      parameters:
      - description: The institution member ID that should be removed from the institution.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInstitutionMemberResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_identity
      summary: Remove Institution Member
      tags:
      - Institution Members
  /identity/accounts:
    get:
      description: |-
        List accounts with pagination. Every response will contain a `next_page` field,
        as long as the end of the list has not been reached. Pass this value into the `page_cursor` field of the next request
        to retrieve the next page of results.
      operationId: ListAccounts
      parameters:
      - explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Return items in ascending (ASC) or descending (DESC) order. Defaults
          to DESC.
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - description: The specific method by which the returned results will be ordered.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - CREATED_AT
          type: string
        style: form
      - description: Number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optionally filter by primary identity identity.
        explode: true
        in: query
        name: identity_id
        required: false
        schema:
          type: string
        style: form
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:read_account
      summary: List Accounts
      tags:
      - Accounts
    post:
      description: |-
        Create an account for a given identity, via the `identity_id` field.
        This identity is the primary owner of the account for all tax-related purposes.

        To track user balances using Paxos [Profiles](#tag/Profiles), use `create_profile=true` when creating the account.
        Once an account has been created, it is not possible to associate it with a [Profile](#tag/Profiles).

        ### Account Members

        In addition to the primary owner, other identities may be associated with the account, by using `members`.
        The identity on the account is treated as a BENEFICIAL_OWNER.

        To add a financial advisor to an account, add a member with the FINANCIAL_ADVISOR role.

        #### Example
        This example request creates a joint account for John and Jane Doe. John has identity_id=82c338f4-3cb7-4d9b-be2a-4b077c82ee3a,
        and Jane has identity_id=0f5d8475-33f3-4ebd-88a0-66dedc2581c1. John is the primary owner of the account for tax-purposes, but Jane
        is a full beneficial owner.

        Additionally, this account has an associated financial advisor with identity_id=0d26f878-298e-4d47-81be-cdf4e982a3d3.

        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"account": {
        &nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "82c338f4-3cb7-4d9b-be2a-4b077c82ee3a",
        &nbsp;&nbsp;&nbsp;&nbsp;"members": [{
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "0f5d8475-33f3-4ebd-88a0-66dedc2581c1",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["BENEFICIAL_OWNER"]
        &nbsp;&nbsp;&nbsp;&nbsp;}, {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "0d26f878-298e-4d47-81be-cdf4e982a3d3",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["FINANCIAL_ADVISOR"]
        &nbsp;&nbsp;&nbsp;&nbsp;}]
        &nbsp;&nbsp;}
        }
        </code>
        </pre>

        ### Fields

        Any fields not listed are forbidden in this request.

        Field | Notes
        ---|---
        identity_id | Required
        description | Optional
        metadata | Optional
        ref_id | Optional
        members | Optional
      operationId: CreateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: e69e4e31-6dca-4a46-bb85-af40b5fe2d59
                identity_id: 82c338f4-3cb7-4d9b-be2a-4b077c82ee3a
                ref_id: fec36070-4c23-48ac-9ee1-df338b8233fc
                description: Individual account for John Doe
                metadata:
                  custom_field: custom_value
                admin_disabled: false
                user_disabled: false
              schema:
                $ref: '#/components/schemas/Account'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_account
      summary: Create Account
      tags:
      - Accounts
    put:
      description: |-
        This enables you to update an existing account with new information. Please refer to the following
        table for fields that can be updated via this endpoint.

        Field | Notes
        ---|---
        account.id | Required
        account.description | Optional
        account.ref_id | Optional
        account.metadata | Optional. This will overwrite any existing metadata added to the account.
        account.members | Optional. The only roles that can be added/removed are `FINANCIAL_ADVISOR` or `AUTHORIZED_USER.` You must always specify the full members object as we do not currently support differential member updates.
        set_user_disabled | Optional. Setting this to `true` will disable the account, limiting its ability to be used within the Paxos platform.

        #### Example Requests
        #### Disabling an account

        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"set_user_disabled": true,
        &nbsp;&nbsp;"account": {
        &nbsp;&nbsp;&nbsp;&nbsp;"id": "82c338f4-3cb7-4d9b-be2a-4b077c82ee3a",
        &nbsp;&nbsp;&nbsp;&nbsp;"description": "Account Description",
        &nbsp;&nbsp;&nbsp;&nbsp;"ref_id": "82c338f4-3cb7",
        &nbsp;&nbsp;}
        }
        </code>
        </pre>

        ### Adding an account member
        To retain the existing account members and add a new account member, the `members` field must contain the existing account members and the
        new member. The below example adds an `AUTHORIZED_USER` to the account.

        In order to add account members while leaving existing account members unaffected, clients
        should use the [Add Account Members](#operation/AddAccountMembers) API.

        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"account": {
        &nbsp;&nbsp;&nbsp;&nbsp;"id": "82c338f4-3cb7-4d9b-be2a-4b077c82ee3a",
        &nbsp;&nbsp;&nbsp;&nbsp;"members": [{
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "0f5d8475-33f3-4ebd-88a0-66dedc2581c1",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["BENEFICIAL_OWNER"]
        &nbsp;&nbsp;&nbsp;&nbsp;}, {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "0d26f878-298e-4d47-81be-cdf4e982a3d3",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["FINANCIAL_ADVISOR"]
        &nbsp;&nbsp;&nbsp;&nbsp;}, {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "012k23eb-298e-4d47-81be-cdf4e982a3d3",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["AUTHORIZED_USER"]
        &nbsp;&nbsp;&nbsp;&nbsp;}]
        &nbsp;&nbsp;}
        }
        </code>
        </pre>

        ### Removing an account member
        To remove an existing account member and retain other needed members, the `members` field must contain
        the existing account members without the account member you'd like to remove. The below example removes an `AUTHORIZED_USER` from the account.

        Note, this API requires the `members` array to have at least one element. In order to delete all members
        from an account, clients should use the [Delete Account Member](#operation/DeleteAccountMember) API.

        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"account": {
        &nbsp;&nbsp;&nbsp;&nbsp;"id": "82c338f4-3cb7-4d9b-be2a-4b077c82ee3a",
        &nbsp;&nbsp;&nbsp;&nbsp;"members": [{
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "0f5d8475-33f3-4ebd-88a0-66dedc2581c1",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["BENEFICIAL_OWNER"]
        &nbsp;&nbsp;&nbsp;&nbsp;}]
        &nbsp;&nbsp;}
        }
        </code>
        </pre>

        ### Updating an account members' roles
        To update an account members' roles, the `members` field must contain all the existing members with their roles along
        with the additional role that you'd like to add or remove. The below example adds the `FINANCIAL_ADVISOR` role to an member that is already a `BENEFICIAL_OWNER`.

        <!--indentation does not work in swagger code blocks-->
        <pre>
        <code>
        {
        &nbsp;&nbsp;"account": {
        &nbsp;&nbsp;&nbsp;&nbsp;"id": "82c338f4-3cb7-4d9b-be2a-4b077c82ee3a",
        &nbsp;&nbsp;&nbsp;&nbsp;"members": [{
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"identity_id": "0f5d8475-33f3-4ebd-88a0-66dedc2581c1",
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"roles": ["BENEFICIAL_OWNER", "FINANCIAL_ADVISOR"]
        &nbsp;&nbsp;&nbsp;&nbsp;}]
        &nbsp;&nbsp;}
        }
        </code>
        </pre>
      operationId: UpdateAccount
      requestBody:
        content:
          application/json:
            example:
              account:
                id: 79c27a0e-46a2-4276-9769-e1ebc055fa72
                members:
                - identity_id: 11a3122a-0c50-4950-9934-2ad48a782b78
                  roles:
                  - FINANCIAL_ADVISOR
                - identity_id: 08ba6b70-bcc0-4e4a-a67f-1d28842dedfc
                  roles:
                  - AUTHORIZED_USER
                - identity_id: 2dedfc70-a67f-4e4a-bcc0-1d288408ba6b
                  roles:
                  - BENEFICIAL_OWNER
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                created_at: 2014-02-20 04:22:22 UTC
                id: 79c27a0e-46a2-4276-9769-e1ebc055fa72
                identity_id: 0acd56b7-140b-4b29-83e4-7e717f03afd9
                members:
                - identity_id: 11a3122a-0c50-4950-9934-2ad48a782b78
                  roles:
                  - FINANCIAL_ADVISOR
                - identity_id: 08ba6b70-bcc0-4e4a-a67f-1d28842dedfc
                  roles:
                  - AUTHORIZED_USER
                - identity_id: 2dedfc70-a67f-4e4a-bcc0-1d288408ba6b
                  roles:
                  - BENEFICIAL_OWNER
                summary_status: PENDING
                updated_at: 2022-02-24 04:20:22 UTC
              schema:
                $ref: '#/components/schemas/Account'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_account
      summary: Update Account
      tags:
      - Accounts
  /identity/accounts/{id}:
    get:
      operationId: GetAccount
      parameters:
      - description: uuid id of account
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: A successful response.
      security:
      - OAuth2:
        - identity:read_account
      tags:
      - Accounts
  /identity/account-members:
    post:
      description: |-
        Add one or more account members to a given account.

        The account members added by this API do not affect existing account members. For example,
        if an account has two members, and one member is added using this API, then the account will
        end up with three members.

        For more information on properties of account members, see [Account Members](#account-members).
      operationId: AddAccountMembers
      requestBody:
        content:
          application/json:
            examples:
              Add Account Members:
                value:
                  account_id: 79c27a0e-46a2-4276-9769-e1ebc055fa72
                  members:
                  - identity_id: 11a3122a-0c50-4950-9934-2ad48a782b78
                    roles:
                    - FINANCIAL_ADVISOR
                  - identity_id: 08ba6b70-bcc0-4e4a-a67f-1d28842dedfc
                    roles:
                    - AUTHORIZED_USER
            schema:
              $ref: '#/components/schemas/AddAccountMembersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Add Institution Members:
                  value:
                    account_id: 79c27a0e-46a2-4276-9769-e1ebc055fa72
                    members:
                    - identity_id: 11a3122a-0c50-4950-9934-2ad48a782b78
                      roles:
                      - FINANCIAL_ADVISOR
                      id: 01516495-031a-4c6c-b277-5734ea9cb99c
                    - identity_id: 08ba6b70-bcc0-4e4a-a67f-1d28842dedfc
                      roles:
                      - AUTHORIZED_USER
                      id: 1039d953-808f-495f-902d-c15480942885
              schema:
                $ref: '#/components/schemas/AddAccountMembersResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_account
      summary: Add Account Members
      tags:
      - Account Members
  /identity/account-members/{id}:
    delete:
      description: Removes an account member from an account.
      operationId: DeleteAccountMember
      parameters:
      - description: The account member ID that should be removed from the account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountMemberResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_account
      summary: Remove Account Member
      tags:
      - Account Members
  /identity/identities/{id}/sandbox-status:
    put:
      description: |-
        Set the various statuses for the given Identity. To enable the Person Identity to transact,
        set both `id_verification_status` and `sanctions_verification_status` to `"APPROVED"`.
        To enable the Institution to transact, set both `sanctions_verification_status` to `"APPROVED"`.
        This endpoint also allows you to set the statuses for `document_verification_status` and
        `additional_screening_status`
      operationId: SandboxSetIdentityStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxSetIdentityStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxSetIdentityResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:write_identity
      summary: Sandbox Set Identity Status
      tags:
      - Sandbox Identity
  /all-markets/prices:
    get:
      description: |-
        Retrieve current prices, as well as 24 hour prior (yesterday) prices, for the specified markets.
        Any single market that failed to be retrieved is excluded from the response.
      operationId: ListPrices
      parameters:
      - description: ""
        explode: true
        in: query
        name: markets
        required: true
        schema:
          items:
            enum:
            - ETHUSD
            - BTCUSD
            - PAXGUSD
            - BCHUSD
            - LTCUSD
            - USDPUSD
            - LINKUSD
            - MATICUSD
            - AAVEUSD
            - UNIUSD
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    prices:
                    - market: BTCUSD
                      current_price: "16627.62"
                      yesterday_price: "16703.29"
                      snapshot_at: 2023-01-03T18:27:40.294528Z
                    - market: ETHUSD
                      current_price: "1206.93"
                      yesterday_price: "1216.55"
                      snapshot_at: 2023-01-03T18:27:40.294528Z
              schema:
                $ref: '#/components/schemas/ListPricesResponse'
          description: A successful response.
      summary: List Prices
      tags:
      - Pricing
  /all-markets/ticker:
    get:
      description: |-
        Retrieves order book statistics of the exchange for all markets over the last 24 hours and from midnight UTC until current time.

        Please note: List Tickers displays pricing from external venues when the itBit exchange is not available.
      operationId: ListTickers
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - market: BTCUSD
                    best_bid:
                      price: "9245.25"
                      amount: "0.23124212"
                    best_ask:
                      price: "9274.00"
                      amount: "1.82341000"
                    last_execution:
                      price: "9273.75"
                      amount: "0.00002341"
                    last_day:
                      high: "10425.25"
                      low: "8923.50"
                      open: "9324.50"
                      volume: "1423.12314232"
                      start_time: 2020-01-17T18:36:08.737Z
                      end_time: 2020-01-18T18:36:08.737Z
                    today:
                      high: "10125.25"
                      low: "9100.25"
                      open: "9502.50"
                      volume: "872.12314232"
                      start_time: 2020-01-18T00:00:00.000Z
                      end_time: 2020-01-18T18:36:08.737Z
                    snapshot_at: 2020-01-17T18:36:08.737Z
                  - market: ETHUSD
                    best_bid:
                      price: "136.25"
                      amount: "0.14532168"
                    best_ask:
                      price: "138.00"
                      amount: "1.72742000"
                    last_execution:
                      price: "137.75"
                      amount: "0.00003156"
                    last_day:
                      high: "136.75"
                      low: "135.25"
                      open: "135.25"
                      volume: "423.67235137"
                      start_time: 2020-01-17T18:36:08.737Z
                      end_time: 2020-01-18T18:36:08.737Z
                    today:
                      high: "135.15"
                      low: "134.13"
                      open: "134.13"
                      volume: "472.12314232"
                      start_time: 2020-01-18T00:00:00.000Z
                      end_time: 2020-01-18T18:36:08.737Z
                    snapshot_at: 2020-01-17T18:36:08.737Z
              schema:
                $ref: '#/components/schemas/ListTickersResponse'
          description: A successful response.
      summary: List Tickers
      tags:
      - Pricing
  /executions:
    get:
      description: |-
        Retrieves full details of underlying executions with optional filters.
        Notes:
        - This endpoint returns a maximum of 1000 items per page.
        - Filtering options are `account_id`, `profile_id` or neither (all executions).
      operationId: ListExecutions
      parameters:
      - description: Filter executions by the Profile ID associated with the orders.
        explode: true
        in: query
        name: profile_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter executions by the Account ID associated with the orders.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter executions for a single order ID.
        explode: true
        in: query
        name: order_id
        required: false
        schema:
          type: string
        style: form
      - description: Excludes executions after the given ID.
        explode: true
        in: query
        name: since_execution_id
        required: false
        schema:
          type: string
        style: form
      - description: "Only return records after this timestamp, inclusive. RFC3339\
          \ format, like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: range.begin
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return records before this timestamp, inclusive. RFC3339\
          \ format, like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: range.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Cursor token for fetching the next page.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    items:
                    - execution_id: "12422531"
                      order_id: cb379c30-a9f8-4685-aa38-47d6e87ff09d
                      executed_at: 2022-08-01T21:01:27.217Z
                      market: BTCUSD
                      side: BUY
                      amount: "0.00432539"
                      price: "23119.25"
                      commission: "0.34999920465125"
                      commission_asset: USD
                      rebate: "0"
                      rebate_asset: USD
                      gross_trade_amount: "99.9997727575"
                    next_page_cursor: CgwI-Iu6iQYQgPGVoQEQg5v2BQ
              schema:
                $ref: '#/components/schemas/ListExecutionsResponse'
          description: A successful response.
      security:
      - OAuth2:
        - exchange:read_order
      summary: List Executions
      tags:
      - Orders
  /markets:
    get:
      description: Retrieves the set of current available markets for trading with
        details.
      operationId: ListMarkets
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    markets:
                    - market: BTCUSD
                      base_asset: BTC
                      quote_asset: USD
                      tick_rate: "0.25"
              schema:
                $ref: '#/components/schemas/ListMarketsResponse'
          description: A successful response.
      summary: List Markets
      tags:
      - Market Data
  /markets/{market}/historical-prices:
    get:
      description: |-
        Retrieves a set of average prices at a certain increment of time for the requested market.
        This endpoint is suitable for retrieving historical average price trends where price precision, execution, and
        other detailed information is not required.
        To control the count, use either  `increment` or `max_data_points`.
        List Historical Prices returns an error when an unexpected value is given, or when `increment` and
         `max_data_points` are both given or omitted.

        When `range.begin` is omitted, the first data point shows the mid price, the average of the order book best bid
         and ask price, or the earliest available date. It is possible to set `range.begin` to a future date without error.

        When `range.end` is omitted, the last data point will display current mid price (average of order book best bid
         and best ask) at the request timestamp. It is possible to set `range.end` to a future date without error.

        When `pagination.limit` is omitted, the pagination limit will default to return the first 100 items.
        If the pagination limit is set, the API will return up to the limit in one response. The pagination limit max is 1,000.

        Time-series items are returned in chronological (ascending) order. All timestamps are in UTC.
      operationId: ListHistoricalPrices
      parameters:
      - description: Market of Order Book.
        explode: false
        in: path
        name: market
        required: true
        schema:
          enum:
          - ETHEUR
          - ETHUSD
          - BTCEUR
          - BTCUSD
          - PAXGUSD
          - BCHUSD
          - LTCUSD
          - ETHGBP
          - BTCGBP
          - LTCGBP
          - BCHGBP
          - USDPUSD
          - ETHBRL
          - BTCBRL
          - LTCBRL
          - BCHBRL
          - USDPGBP
          - USDPBRL
          - LINKUSD
          - MATICUSD
          - AAVEUSD
          - UNIUSD
          - AAVEMXN
          - BCHMXN
          - BTCMXN
          - ETHMXN
          - LTCMXN
          - USDPMXN
          - AAVEEUR
          - BCHEUR
          - LTCEUR
          - LINKEUR
          - MATICEUR
          - PAXGEUR
          - SOLEUR
          - USDPEUR
          - UNIEUR
          - PYUSDEUR
          type: string
        style: simple
      - description: |-
          Maximum number of data points to return.

          The time frame of the increments will be inferred by finding the most granular increment without breaching the `max_data_points` value based on a set of recording data points.
        explode: true
        in: query
        name: max_data_points
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "Only return records after this timestamp, inclusive. RFC3339\
          \ format, like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: range.begin
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return records before this timestamp, inclusive. RFC3339\
          \ format, like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: range.end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return
        explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of results to skip
        explode: true
        in: query
        name: pagination.offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Time increment between prices. Returns data exclusive from `range.begin`\
          \ and `range.end`. Do not use with `max_data_points`, as this results in\
          \ an error."
        explode: true
        in: query
        name: increment
        required: false
        schema:
          enum:
          - ONE_MINUTE
          - FIVE_MINUTES
          - FIFTEEN_MINUTES
          - THIRTY_MINUTES
          - ONE_HOUR
          - TWO_HOURS
          - TWELVE_HOURS
          - ONE_DAY
          - ONE_WEEK
          - TWO_WEEKS
          - FOUR_WEEKS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    market: BTCUSD
                    prices:
                    - average_price: "9245.50"
                      timestamp: 2020-01-17T18:36:00.000Z
                    - average_price: "9265.50"
                      timestamp: 2020-01-17T18:37:00.000Z
                    total_count: 50
              schema:
                $ref: '#/components/schemas/ListHistoricalPricesResponse'
          description: A successful response.
      security:
      - OAuth2:
        - exchange:historical_prices
      summary: List Historical Prices
      tags:
      - Pricing
  /markets/{market}/order-book:
    get:
      description: Retrieves the full list of bids and asks of the order book at individual
        price levels with resting quantities per level.
      operationId: GetOrderBook
      parameters:
      - description: Market of Order Book.
        explode: false
        in: path
        name: market
        required: true
        schema:
          enum:
          - ETHEUR
          - ETHSGD
          - ETHUSD
          - BTCEUR
          - BTCSGD
          - BTCUSD
          - PAXGUSD
[...]
