openapi: 3.0.0
info:
  description: |
    <p>Welcome to Paxos APIs. At Paxos, our mission is to enable the movement of any asset, any time, in a trustworthy way. These APIs serve that mission by making it easier than ever for you to directly integrate our product capabilities into your application, leveraging the speed, stability, and security of the Paxos platform.</p> <p>The documentation that follows gives you access to our Crypto Brokerage, Trading, and Exchange products. It includes APIs for market data, orders, and the held rate quote flow.</p> <p>To test in our sandbox environment, <a href="https://account.sandbox.paxos.com" target="_blank">sign up</a> for an account. For more information about Paxos and our APIs, visit <a href="https://www.paxos.com/" target="_blank">Paxos.com</a>.</p>
  title: Paxos API
  version: "2.0"
  x-logo:
    url: /docs/paxos.svg
    backgroundColor: '#FFFFFF'
    altText: Paxos logo
servers:
- description: Production
  url: https://api.paxos.com/v2
- description: Sandbox
  url: https://api.sandbox.paxos.com/v2
tags:
- description: |
    Profiles hold asset balances, and every Paxos transaction is on a particular profile.
    Depending on your integration type, Profiles may be used to reflect both corporate balances or individual user balances.
    There are two types of Profiles:
    - `DEFAULT` Profiles are system-generated.
    - `NORMAL` Profiles are created using the [Create Profile](#operation/CreateProfile) endpoint and are the only type of Profile you can create.
  name: Profiles
- description: |
    Quotes are "held rates" offered by Paxos to buy or sell assets at a specific
    price within a period of time - for example, the option to buy BTC within
    the next 30 seconds for $8,000.

    The typical Quotes workflow is as follows:

    1. Call [List Quotes](#operation/ListQuotes) to get the latest available
       quoted prices for the assets you want to buy or sell.
    1. Present the offered price to one or more end-users, with a timer
       indicating the time to expiration.
    1. If a user accepts the price, call [Create Quote Execution](#operation/CreateQuoteExecution) with the amount to buy or sell.
    1. Call [Get Quote Execution](#operation/GetQuoteExecution) to monitor
       for completion and know when the funds from the execution are available.

    It's important to show end-users the latest available price. If you cache
    prices to show them to multiple users, you should refresh the cache once
    per second.

    You can call [List Quote Executions](#operation/ListQuoteExecutions) to
    review or construct reports on quote execution activity.
  name: Quotes
- description: |
    Quote Executions buy or sell assets using a Quote obtained from
    the [Quotes](#tag/Quotes) flow.
  name: Quote Executions
- description: |
    <p>There are three types of orders: market, limit and post-only.</p>
    <p>Market orders guarantee execution at a variable price and quantity. Limit orders guarantee price and quantity at the time of execution but do not guarantee execution. Post-only is an order type that will only be placed on the order book if it is the maker side of a trade.</p>
  name: Orders
- description: |
    Market data provides various parameters of the order book and historical order data.
  name: Market Data
- description: |
    Pricing provides historical data related to charting of asset prices.

    Note: Some Pricing API markets may be unavailable for trading.
  name: Pricing
- description: |
    Issuer Quotes are "held rates" offered by Paxos to mint or redeem Paxos-issued assets at a specific price within a period of time - for example, the option to buy PAXG within the next 5 seconds for $3,000.

    The typical Issuer Quotes workflow is as follows:

    1. Call [Create Issuer Quote](#operation/CreateIssuerQuote) to get a quote for the asset you want to mint or redeem to a specific profile.
    1. Call [Create Issuer Quote Execution](#operation/CreateIssuerQuoteExecution) with the quote ID and profile ID.

    You can call [List Issuer Quote Executions](#operation/ListIssuerQuoteExecutions) to review or construct reports on issuer quote execution activity.
  name: Issuer Quotes
- description: "An Identity represents a person or institution who is able to take\
    \ actions on the Paxos Platform. Depending on \nyour integration type you might\
    \ not need to create Identities for your end users. \n\nIdentities must pass a\
    \ set of verifications and checks before they're able to transact on the Platform.\
    \ Learn more\nabout getting started with Identity and managing their onboarding\
    \ lifecycle in the [Identity Developer Guide](https://docs.paxos.com/identity).\n"
  name: Identity
- description: |
    Institution Members allow you to associate persons with an institution on our Platform.
    Each institution can have multiple members, with each member representing the relationship to a person identity.

    When creating an institution identity, you must designate at least one institution member.
    This requirement ensures we have complete information about the institution's ownership structure
    and key personnel, which is necessary to onboard institutions.
  name: Institution Members
- description: |
    Accounts connect Identities (persons or institutions) to Profiles (asset balances).
    Key features include:

    - **Balance Management**: Track and manage profile balances via [Subledgering](https://docs.paxos.com/crypto-brokerage/ledger-type#fiat-and-crypto-subledger)
    - **Joint Account Support**: Link multiple Identities to a single Account for shared on platform balance

    Accounts are required for all Identity API integrations.
  name: Accounts
- description: "Account Members allow you to associate an Identity with an Account\
    \ on our Platform.\nEach Account can be linked to multiple Identities, which supports\
    \ Joint Accounts (where two Identities have the ability\nto transact against a\
    \ single Profile)  \n\nAccount members are effectively immutable. In order to\
    \ update an account member,\nclients should remove then re-add the account member\
    \ with the desired state.\n\nThe API requires clients to have write access on\
    \ the account and all identities\nassociated with the account.\n"
  name: Account Members
- description: |
    The Identity Documents API allows clients to send documents to Paxos to validate identities
    during the KYC process. Files can be updated multiple times by re-sending the document type
    for processing.

    We currently accept the following file formats:
    - <code>pdf</code>
    - <code>jpg</code>
    - <code>png</code>

    Steps to upload a document are as follows:
    1. Send a <code>PUT</code> request to <code>/identity/identities/{id}/documents</code> to get
      the upload URL.
    1. Send your document to the provided URL via a PUT request. Take the following example using curl:
      <code>$ curl --upload-file Proof_of_residence.jpg $URI </code>

    Uploaded document metadata will be available via <code>GET</code> request to <code>/identity/identities/{id}/documents</code>
  name: Identity Documents
- description: |
    The Fiat Transfers API allows clients to deposit and withdraw fiat via the following Fiat Networks: Wire (Fedwire and SWIFT) and CUBIX. The supported asset is USD.

    The full set of Fiat Transfers API endpoints is:
    - For Deposits:
      - [Create Fiat Deposit Instructions](#operation/CreateFiatDepositInstructions)
      - [List Fiat Deposit Instructions](#operation/ListFiatDepositInstructions)
      - [Get Fiat Deposit Instructions](#operation/GetFiatDepositInstructions)
    - For Withdrawals:
      - [Create Fiat Account](#operation/CreateFiatAccount)
      - [List Fiat Accounts](#operation/ListFiatAccounts)
      - [Get Fiat Account](#operation/GetFiatAccount)
      - [Delete Fiat Account](#operation/DeleteFiatAccount)
      - [Update Fiat Account](#operation/UpdateFiatAccount)
      - [Create Fiat Withdrawal](#operation/CreateFiatWithdrawal)
  name: Fiat Transfers
- description: |
    <p>Convert between fiat and stablecoin using <a href="#operation/CreateStablecoinConversion">Create Stablecoin Conversion</a> and check the status of a <a href="#operation/GetStablecoinConversion">single conversion</a> or retrieve a <a href="#operation/ListStablecoinConversions">list of conversions</a>.</p>
  externalDocs:
    description: Learn more about stablecoin conversions →
    url: https://docs.paxos.com/developer/convert
  name: Stablecoin Conversion
- description: |
    Each deposit to and withdrawal from a Paxos account is a Transfer.
    A Transfer is associated with a particular Profile, and increases or
    decreases the available balance of a single asset in that Profile.
  name: Transfers
- description: |
    All tax forms are associated to a single account_id.
    An account_id can have multiple tax forms associated with it.
    US 1099-B and 1099-Misc tax forms for the previous fiscal year will be available in February of the current calendar year.
    Previous years tax forms are also available by request.
  name: Tax Forms
- description: |
    For [Paxos Global PTE Ltd](https://help.paxos.com/hc/en-us/articles/9647005243284) users, update or reject a crypto deposit that does not contain the required [travel rule](https://help.paxos.com/hc/en-us/articles/25928845778068) information.
    Deposits with the `NEEDS_INFO` status require additional sender information before they can be processed.
    - For individuals, both first and last name are required.
    - For institutions, the institution name is required.

    If a deposit is rejected, the funds will no longer be available.
  externalDocs:
    description: Learn more about travel rule udpates →
    url: https://help.paxos.com/hc/en-us/articles/25422999706900
  name: Crypto Deposits
- description: |
    Use the Settlements API to facilitate simultaneous exchange of pre-funded assets. Automate a variety of use cases that require two-party approval, including net settlement of over-the-counter trades, withdrawal requests for tri-party collateral, payment requests, and bilateral settlement for marketplace end users.

    The simple request-and-approval workflow supports both one-directional and bidirectional transactions to allow a user to receive an asset (for example, send USDP) or simultaneously send and receive assets (for example, send USD and receive BTC and ETH). Only when all parties are in agreement and assets are fully funded does the Settlements API allow for change of custody. Upon completion, all settled assets are immediately available for trading, transferring, withdrawal or other supported activities.

    The Source Profile initiates the transaction for the Target Profile to approve. The `DIRECTION` of each asset is always relative to the Source Profile and only the owner of the Source Profile can cancel a transaction if it hasn't been approved by the Target Profile.
  externalDocs:
    description: Learn more about the Settlement APIs →
    url: https://docs.paxos.com/settlements
  name: Settlement
- description: |
    Move assets between two Entities belonging to the same Organization or to a different Organization on the Paxos platform.

    > Transferring USD between Entities is prohibited in some jurisdictions. Contact [Support](https://support.paxos.com/) if you run into any problems with this restriction.

    Ensure the destination [Profile](https://docs.paxos.com/dashboard/organization#profile) already exists before beginning the transfer. This may require contacting someone outside your Organization to get the destination Profile ID.
  name: Paxos Transfers
- description: "A Monitoring Address is a blockchain address that Paxos monitors daily\
    \ for eligible stablecoin activity and determines the amount of rewards your organization\
    \ will earn. We recommend adding any addresses you expect to hold, receive, or\
    \ mint Paxos stablecoins as a monitoring address in order to receive rewards for\
    \ all of your qualifying on-chain activity. \n\n> Monitoring addresses must be\
    \ added by month end (`23:59 UTC+0`) in order to earn rewards for that month.\
    \ Addresses added after month end will start earning rewards for the following\
    \ month.\n\n*These endpoints are only relevant for Global Dollar Network (GDN)\
    \ partners.*\n"
  name: Monitoring Addresses
- description: Endpoints working with Payout Address. These endpoints are only relevant
    for Global Dollar Network (GDN) partners.
  name: Payout Address
- description: |
    A Statement summarizes all eligible stablecoin rewards for a given organization over a fixed time period. It aggregates earned reward types (e.g., custody, mint, acceptance) and records whether the statement was paid.

    Statements are generated monthly and are immutable. Revised statements will be issued as a new statement with a unique ID. Statements can be used to reconcile balances or for accounting and accounts receivable purposes.

    *These endpoints are only relevant for Global Dollar Network (GDN) partners.*
  name: Statements
- description: "Payments represent actual transfers of rewards to the payout address\
    \ associated with a given statement. Payments are made on-chain to a specified\
    \ payout address. Payments tie 1:1 with a statement amount.\n\nUse the `ref_id`\
    \ to link payments to statements. \n\n> Some fields (e.g., `account_id`, `profile_id`)\
    \ are populated for consistency but are not relevant to reward-specific flows.\n\
    \n*These endpoints are only relevant for Global Dollar Network (GDN) partners.*\n"
  name: Payments
- description: |
    API credentials allow programmatic access to Paxos APIs. These endpoints enable you to manage and view your API credentials.
  name: API Credentials
- description: |
    The Events API allows you to fetch events that occurred on the Paxos platform with the full event payload. This REST API can be used as part of your webhook integrations (including rebuilding your event history should your webhook consumer exceed its retries), or standalone by polling for events related to your identities.
  name: Events
- description: |
    <div style="max-width:100%; font-family:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;">
      <div style="padding:0 0 24px;">
        <div style="display:grid; grid-template-columns:1fr; gap:16px; margin-bottom:24px;">
          <!-- identity.documents_required -->
          <div id="event-identity-documents-required" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-identity-documents-required" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">identity.documents_required</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-identity-documents-required" style="color:inherit; text-decoration:none;">object: identity_documents_required</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Identity requires additional documents, use the <a href="#tag/Identity-Documents">UploadDocument</a> endpoint to upload all required documents.
              </p>
            </div>
          </div>
          <!-- identity.approved -->
          <div id="event-identity-approved" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-identity-approved" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">identity.approved</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-identity-summary-status-change" style="color:inherit; text-decoration:none;">object: identity_summary_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Identity is <code>APPROVED</code>
              </p>
            </div>
          </div>
          <!-- identity.denied -->
          <div id="event-identity-denied" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-identity-denied" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">identity.denied</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-identity-summary-status-change" style="color:inherit; text-decoration:none;">object: identity_summary_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Identity is <code>DENIED</code>
              </p>
            </div>
          </div>
          <!-- identity.disabled -->
          <div id="event-identity-disabled" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-identity-disabled" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">identity.disabled</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-identity-summary-status-change" style="color:inherit; text-decoration:none;">object: identity_summary_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Identity is <code>DISABLED</code>
              </p>
            </div>
          </div>
          <!-- identity.kyc_refresh.started -->
          <div id="event-identity-kyc-refresh-started" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-identity-kyc-refresh-started" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">identity.kyc_refresh.started</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-identity-kyc-refresh" style="color:inherit; text-decoration:none;">object: identity_kyc_refresh</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Identity is required to undergo its periodic <a href="https://docs.paxos.com/identity/kyc-refresh">KYC refresh</a>.
              </p>
            </div>
          </div>
          <!-- identity.kyc_refresh.completed -->
          <div id="event-identity-kyc-refresh-completed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-identity-kyc-refresh-completed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">identity.kyc_refresh.completed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-identity-kyc-refresh" style="color:inherit; text-decoration:none;">object: identity_kyc_refresh</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Identity has successfully completed its periodic <a href="https://docs.paxos.com/identity/kyc-refresh">KYC refresh</a>.
              </p>
            </div>
          </div>
          <!-- identity.kyc_refresh.expired -->
          <div id="event-identity-kyc-refresh-expired" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-identity-kyc-refresh-expired" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">identity.kyc_refresh.expired</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-identity-kyc-refresh" style="color:inherit; text-decoration:none;">object: identity_kyc_refresh</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Identity has not completed its required <a href="https://docs.paxos.com/identity/kyc-refresh">KYC refresh</a> within the designated timeframe.
              </p>
            </div>
          </div>
          <!-- transfer.crypto_deposit.pending -->
          <div id="event-transfer-crypto-deposit-pending" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-crypto-deposit-pending" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.crypto_deposit.pending</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Crypto deposit detected on-chain and is <code>PENDING</code> confirmation.
              </p>
            </div>
          </div>
          <!-- transfer.crypto_deposit.completed -->
          <div id="event-transfer-crypto-deposit-completed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-crypto-deposit-completed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.crypto_deposit.completed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Crypto deposit is <code>COMPLETED</code> and funds are available on platform.
              </p>
            </div>
          </div>
          <!-- transfer.crypto_deposit.failed -->
          <div id="event-transfer-crypto-deposit-failed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-crypto-deposit-failed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.crypto_deposit.failed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Crypto deposit has <code>FAILED</code> or been cancelled.
              </p>
            </div>
          </div>
          <!-- transfer.crypto_withdrawal.pending -->
          <div id="event-transfer-crypto-withdrawal-pending" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-crypto-withdrawal-pending" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.crypto_withdrawal.pending</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Crypto withdrawal has been initiated and is <code>PENDING</code> on-chain processing.
              </p>
            </div>
          </div>
          <!-- transfer.crypto_withdrawal.completed -->
          <div id="event-transfer-crypto-withdrawal-completed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-crypto-withdrawal-completed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.crypto_withdrawal.completed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Crypto withdrawal is <code>COMPLETED</code> and has been sent to the destination address.
              </p>
            </div>
          </div>
          <!-- transfer.crypto_withdrawal.failed -->
          <div id="event-transfer-crypto-withdrawal-failed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-crypto-withdrawal-failed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.crypto_withdrawal.failed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Crypto withdrawal has <code>FAILED</code> or been cancelled.
              </p>
            </div>
          </div>
          <!-- transfer.act_deposit.pending -->
          <div id="event-transfer-act-deposit-pending" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-act-deposit-pending" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.act_deposit.pending</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Fiat deposit via DBS has been initiated and is <code>PENDING</code> processing.
              </p>
            </div>
          </div>
          <!-- transfer.act_deposit.completed -->
          <div id="event-transfer-act-deposit-completed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-act-deposit-completed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.act_deposit.completed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Fiat deposit via DBS is <code>COMPLETED</code> and funds are available on platform.
              </p>
            </div>
          </div>
          <!-- transfer.act_deposit.failed -->
          <div id="event-transfer-act-deposit-failed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-act-deposit-failed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.act_deposit.failed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Fiat deposit via DBS has <code>FAILED</code> or been cancelled.
              </p>
            </div>
          </div>
          <!-- transfer.act_withdrawal.pending -->
          <div id="event-transfer-act-withdrawal-pending" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-act-withdrawal-pending" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.act_withdrawal.pending</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Fiat withdrawal via DBS has been initiated and is <code>PENDING</code> processing.
              </p>
            </div>
          </div>
          <!-- transfer.act_withdrawal.completed -->
          <div id="event-transfer-act-withdrawal-completed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-act-withdrawal-completed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.act_withdrawal.completed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Fiat withdrawal via DBS is <code>COMPLETED</code> and has been sent to the destination account.
              </p>
            </div>
          </div>
          <!-- transfer.act_withdrawal.failed -->
          <div id="event-transfer-act-withdrawal-failed" style="border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.03); transition:transform 0.15s ease, box-shadow 0.15s ease;">
            <div style="background:#f7fafc; padding:16px; border-bottom:1px solid #e3e8ee;">
              <div style="display:flex; align-items:center; justify-content:space-between;">
                <h3 style="margin:0; font-size:15px; color:#1a1f36; font-weight:600;">
                  <a href="#event-transfer-act-withdrawal-failed" style="color:inherit; text-decoration:none;">
                    <code style="font-family:monospace; font-weight:500;">transfer.act_withdrawal.failed</code>
                  </a>
                </h3>
                <span style="font-size:12px; color:#697386; background:#e3e8ee; padding:2px 8px; border-radius:12px;">
                  <a href="#object-transfer-status-change" style="color:inherit; text-decoration:none;">object: transfer_status_change</a>
                </span>
              </div>
            </div>
            <div style="padding:16px; background:white;">
              <p style="margin:0; font-size:14px; color:#4f566b; line-height:1.6;">
                Fiat withdrawal via DBS has <code>FAILED</code> or been cancelled.
              </p>
            </div>
          </div>
        </div>
        <div style="background:#f8fafc; border:1px solid #e3e8ee; border-radius:8px; padding:16px; margin-top:24px;">
          <p style="margin:0; font-size:13px; color:#697386; line-height:1.5; display:flex; align-items:flex-start;">
            <span>
              <strong>Note:</strong> We may add additional event types at any time. Your implementation should handle unexpected event types gracefully.
            </span>
          </p>
        </div>
      </div>
    </div>
  name: Event Types
- description: "<div style=\"max-width:100%; font-family:system-ui,-apple-system,BlinkMacSystemFont,'Segoe\
    \ UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;\"\
    >\n  <p style=\"font-size:14px; line-height:1.5; color:#4f566b; margin-bottom:20px;\"\
    >\n    The following object schemas describe the structure of data that accompanies\
    \ each event type.\n  </p>\n  <!-- identity_documents_required -->\n  <div style=\"\
    margin-bottom:32px;\">\n    <div id=\"object-identity-documents-required\" style=\"\
    border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0 1px\
    \ 3px rgba(0,0,0,0.05);\">\n      <div style=\"background:#f7fafc; padding:16px;\
    \ border-bottom:1px solid #e3e8ee;\">\n        <h3 style=\"margin:0; font-size:16px;\
    \ color:#1a1f36; font-weight:600;\">\n          <a href=\"#object-identity-documents-required\"\
    \ style=\"color:inherit; text-decoration:none;\">\n            <code>identity_documents_required</code>\n\
    \          </a>\n        </h3>\n      </div>\n      <div>\n        <table style=\"\
    margin-left: 12px; border-collapse:collapse; font-size:14px; line-height:1.5;\"\
    >\n          <thead>\n            <tr style=\"text-align:left; border-bottom:1px\
    \ solid #e3e8ee;\">\n              <th style=\"padding:12px 16px; color:#697386;\
    \ font-weight:500; width:30%;\">Field</th>\n              <th style=\"padding:12px\
    \ 16px; color:#697386; font-weight:500; width:20%;\">Type</th>\n             \
    \ <th style=\"padding:12px 16px; color:#697386; font-weight:500;\">Description</th>\n\
    \            </tr>\n          </thead>\n          <tbody>\n            <tr style=\"\
    border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px 16px;\
    \ color:#1a1f36; vertical-align:top;\">\n                <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:13px;\">id</code>\n\
    \              </td>\n              <td style=\"padding:12px 16px; color:#4f566b;\
    \ vertical-align:top;\">UUID</td>\n              <td style=\"padding:12px 16px;\
    \ color:#4f566b; vertical-align:top;\">Unique identifier for this event object</td>\n\
    \            </tr>\n            <tr style=\"border-bottom:1px solid #f2f2f2;\"\
    >\n              <td style=\"padding:12px 16px; color:#1a1f36; vertical-align:top;\"\
    >\n                <code style=\"font-family:monospace; background:#f7fafc; padding:2px\
    \ 4px; border-radius:3px; font-size:13px;\">identity_id</code>\n             \
    \ </td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >UUID</td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >Identifier for the identity requiring documents</td>\n            </tr>\n   \
    \         <tr style=\"border-bottom:1px solid #f2f2f2;\">\n              <td style=\"\
    padding:12px 16px; color:#1a1f36; vertical-align:top;\">\n                <code\
    \ style=\"font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:13px;\">required_documents</code>\n              </td>\n         \
    \     <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">list\
    \ enum</td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >\n                List of <a href=\"https://docs.paxos.com/api/v2#tag/Identity-Documents/operation/ListIdentityDocuments\"\
    \ style=\"color:#635bff; text-decoration:none; font-weight:500;\">required document\
    \ types</a>\n              </td>\n            </tr>\n          </tbody>\n    \
    \    </table>\n      </div>\n    </div>\n  </div>\n  <!-- identity_summary_status_change\
    \ -->\n  <div style=\"margin-bottom:32px;\">\n    <div id=\"object-identity-summary-status-change\"\
    \ style=\"border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0\
    \ 1px 3px rgba(0,0,0,0.05);\">\n      <div style=\"background:#f7fafc; padding:16px;\
    \ border-bottom:1px solid #e3e8ee;\">\n        <h3 style=\"margin:0; font-size:16px;\
    \ color:#1a1f36; font-weight:600;\">\n          <a href=\"#object-identity-summary-status-change\"\
    \ style=\"color:inherit; text-decoration:none;\">\n            <code>identity_summary_status_change</code>\n\
    \          </a>\n        </h3>\n      </div>\n      <div>\n        <table style=\"\
    margin-left: 12px; border-collapse:collapse; font-size:14px; line-height:1.5;\"\
    >\n          <thead>\n            <tr style=\"text-align:left; border-bottom:1px\
    \ solid #e3e8ee;\">\n              <th style=\"padding:12px 16px; color:#697386;\
    \ font-weight:500; width:30%;\">Field</th>\n              <th style=\"padding:12px\
    \ 16px; color:#697386; font-weight:500; width:20%;\">Type</th>\n             \
    \ <th style=\"padding:12px 16px; color:#697386; font-weight:500;\">Description</th>\n\
    \            </tr>\n          </thead>\n          <tbody>\n            <tr style=\"\
    border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px 16px;\
    \ color:#1a1f36; vertical-align:top;\">\n                <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:13px;\">id</code>\n\
    \              </td>\n              <td style=\"padding:12px 16px; color:#4f566b;\
    \ vertical-align:top;\">UUID</td>\n              <td style=\"padding:12px 16px;\
    \ color:#4f566b; vertical-align:top;\">Unique identifier for this event object</td>\n\
    \            </tr>\n            <tr style=\"border-bottom:1px solid #f2f2f2;\"\
    >\n              <td style=\"padding:12px 16px; color:#1a1f36; vertical-align:top;\"\
    >\n                <code style=\"font-family:monospace; background:#f7fafc; padding:2px\
    \ 4px; border-radius:3px; font-size:13px;\">identity_id</code>\n             \
    \ </td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >UUID</td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >Identifier for the affected identity</td>\n            </tr>\n            <tr\
    \ style=\"border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px\
    \ 16px; color:#1a1f36; vertical-align:top;\">\n                <code style=\"\
    font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:13px;\">old_summary_status</code>\n              </td>\n         \
    \     <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">enum</td>\n\
    \              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >\n                Previous status:\n                <span style=\"display:block;\
    \ margin-top:4px;\">\n                  <code style=\"font-family:monospace; background:#f7fafc;\
    \ padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px;\
    \ display:inline-block;\">PENDING</code>\n                  <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px;\
    \ margin-bottom:4px; display:inline-block;\">ERROR</code>\n                  <code\
    \ style=\"font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:12px; margin-right:4px; margin-bottom:4px; display:inline-block;\"\
    >APPROVED</code>\n                  <code style=\"font-family:monospace; background:#f7fafc;\
    \ padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px;\
    \ display:inline-block;\">DENIED</code>\n                  <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px;\
    \ margin-bottom:4px; display:inline-block;\">DISABLED</code>\n               \
    \ </span>\n              </td>\n            </tr>\n            <tr style=\"border-bottom:1px\
    \ solid #f2f2f2;\">\n              <td style=\"padding:12px 16px; color:#1a1f36;\
    \ vertical-align:top;\">\n                <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:13px;\">new_summary_status</code>\n\
    \              </td>\n              <td style=\"padding:12px 16px; color:#4f566b;\
    \ vertical-align:top;\">enum</td>\n              <td style=\"padding:12px 16px;\
    \ color:#4f566b; vertical-align:top;\">\n                New status:\n       \
    \         <span style=\"display:block; margin-top:4px;\">\n                  <code\
    \ style=\"font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:12px; margin-right:4px; margin-bottom:4px; display:inline-block;\"\
    >PENDING</code>\n                  <code style=\"font-family:monospace; background:#f7fafc;\
    \ padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px;\
    \ display:inline-block;\">ERROR</code>\n                  <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px;\
    \ margin-bottom:4px; display:inline-block;\">APPROVED</code>\n               \
    \   <code style=\"font-family:monospace; background:#f7fafc; padding:2px 4px;\
    \ border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px; display:inline-block;\"\
    >DENIED</code>\n                  <code style=\"font-family:monospace; background:#f7fafc;\
    \ padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px;\
    \ display:inline-block;\">DISABLED</code>\n                </span>\n         \
    \     </td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n\
    \    </div>\n  </div>\n  <!-- identity_kyc_refresh -->\n  <div style=\"margin-bottom:32px;\"\
    >\n    <div id=\"object-identity-kyc-refresh\" style=\"border:1px solid #e3e8ee;\
    \ border-radius:8px; overflow:hidden; box-shadow:0 1px 3px rgba(0,0,0,0.05);\"\
    >\n      <div style=\"background:#f7fafc; padding:16px; border-bottom:1px solid\
    \ #e3e8ee;\">\n        <h3 style=\"margin:0; font-size:16px; color:#1a1f36; font-weight:600;\"\
    >\n          <a href=\"#object-identity-kyc-refresh\" style=\"color:inherit; text-decoration:none;\"\
    >\n            <code>identity_kyc_refresh</code>\n          </a>\n        </h3>\n\
    \      </div>\n      <div>\n        <table style=\"margin-left: 12px; border-collapse:collapse;\
    \ font-size:14px; line-height:1.5;\">\n          <thead>\n            <tr style=\"\
    text-align:left; border-bottom:1px solid #e3e8ee;\">\n              <th style=\"\
    padding:12px 16px; color:#697386; font-weight:500; width:30%;\">Field</th>\n \
    \             <th style=\"padding:12px 16px; color:#697386; font-weight:500; width:20%;\"\
    >Type</th>\n              <th style=\"padding:12px 16px; color:#697386; font-weight:500;\"\
    >Description</th>\n            </tr>\n          </thead>\n          <tbody>\n\
    \            <tr style=\"border-bottom:1px solid #f2f2f2;\">\n              <td\
    \ style=\"padding:12px 16px; color:#1a1f36; vertical-align:top;\">\n         \
    \       <code style=\"font-family:monospace; background:#f7fafc; padding:2px 4px;\
    \ border-radius:3px; font-size:13px;\">id</code>\n              </td>\n      \
    \        <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">UUID</td>\n\
    \              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >Unique identifier for this event object</td>\n            </tr>\n           \
    \ <tr style=\"border-bottom:1px solid #f2f2f2;\">\n              <td style=\"\
    padding:12px 16px; color:#1a1f36; vertical-align:top;\">\n                <code\
    \ style=\"font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:13px;\">identity_id</code>\n              </td>\n              <td\
    \ style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">UUID</td>\n\
    \              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >Identifier for the affected identity</td>\n            </tr>\n            <tr\
    \ style=\"border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px\
    \ 16px; color:#1a1f36; vertical-align:top;\">\n                <code style=\"\
    font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:13px;\">last_kyc_refresh_date</code>\n              </td>\n      \
    \        <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">Datetime</td>\n\
    \              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >\n                Date of the most recent completed KYC refresh\n           \
    \     <span style=\"display:block; font-size:12px; color:#697386;\">(optional)</span>\n\
    \              </td>\n            </tr>\n            <tr>\n              <td style=\"\
    padding:12px 16px; color:#1a1f36; vertical-align:top;\">\n                <code\
    \ style=\"font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:13px;\">next_kyc_refresh_date</code>\n              </td>\n      \
    \        <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">Datetime</td>\n\
    \              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >\n                Scheduled date for the next KYC refresh\n                <span\
    \ style=\"display:block; font-size:12px; color:#697386;\">(optional)</span>\n\
    \              </td>\n            </tr>\n          </tbody>\n        </table>\n\
    \      </div>\n    </div>\n  </div>\n  <!-- transfer_status_change -->\n  <div\
    \ style=\"margin-bottom:32px;\">\n    <div id=\"object-transfer-status-change\"\
    \ style=\"border:1px solid #e3e8ee; border-radius:8px; overflow:hidden; box-shadow:0\
    \ 1px 3px rgba(0,0,0,0.05);\">\n      <div style=\"background:#f7fafc; padding:16px;\
    \ border-bottom:1px solid #e3e8ee;\">\n        <h3 style=\"margin:0; font-size:16px;\
    \ color:#1a1f36; font-weight:600;\">\n          <a href=\"#object-transfer-status-change\"\
    \ style=\"color:inherit; text-decoration:none;\">\n            <code>transfer_status_change</code>\n\
    \          </a>\n        </h3>\n      </div>\n      <div>\n        <table style=\"\
    margin-left: 12px; border-collapse:collapse; font-size:14px; line-height:1.5;\"\
    >\n          <thead>\n            <tr style=\"text-align:left; border-bottom:1px\
    \ solid #e3e8ee;\">\n              <th style=\"padding:12px 16px; color:#697386;\
    \ font-weight:500; width:30%;\">Field</th>\n              <th style=\"padding:12px\
    \ 16px; color:#697386; font-weight:500; width:20%;\">Type</th>\n             \
    \ <th style=\"padding:12px 16px; color:#697386; font-weight:500;\">Description</th>\n\
    \            </tr>\n          </thead>\n          <tbody>\n            <tr style=\"\
    border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px 16px;\
    \ color:#1a1f36; vertical-align:top;\">\n                <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:13px;\">id</code>\n\
    \              </td>\n              <td style=\"padding:12px 16px; color:#4f566b;\
    \ vertical-align:top;\">UUID</td>\n              <td style=\"padding:12px 16px;\
    \ color:#4f566b; vertical-align:top;\">The Paxos transfer ID. You can call the\
    \ <a href=\"#tag/Transfers/operation/GetTransfer\">GetTransfer</a> endpoint with\
    \ this ID to get more details about it.</td>\n            </tr>\n            <tr\
    \ style=\"border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px\
    \ 16px; color:#1a1f36; vertical-align:top;\">\n                <code style=\"\
    font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:13px;\">type</code>\n              </td>\n              <td style=\"\
    padding:12px 16px; color:#4f566b; vertical-align:top;\">enum</td>\n          \
    \    <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">\n  \
    \              Type of transfer:\n                <span style=\"display:block;\
    \ margin-top:4px;\">\n                  <code style=\"font-family:monospace; background:#f7fafc;\
    \ padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px;\
    \ display:inline-block;\">CRYPTO_DEPOSIT</code>\n                  <code style=\"\
    font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:12px; margin-right:4px; margin-bottom:4px; display:inline-block;\"\
    >CRYPTO_WITHDRAWAL</code>\n                  <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px;\
    \ margin-bottom:4px; display:inline-block;\">ACT_DEPOSIT</code>\n            \
    \      <code style=\"font-family:monospace; background:#f7fafc; padding:2px 4px;\
    \ border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px; display:inline-block;\"\
    >ACT_WITHDRAWAL</code>\n                </span>\n              </td>\n       \
    \     </tr>\n            <tr style=\"border-bottom:1px solid #f2f2f2;\">\n   \
    \           <td style=\"padding:12px 16px; color:#1a1f36; vertical-align:top;\"\
    >\n                <code style=\"font-family:monospace; background:#f7fafc; padding:2px\
    \ 4px; border-radius:3px; font-size:13px;\">status</code>\n              </td>\n\
    \              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >enum</td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >\n                Status of transfer:\n                <span style=\"display:block;\
    \ margin-top:4px;\">\n                  <code style=\"font-family:monospace; background:#f7fafc;\
    \ padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px;\
    \ display:inline-block;\">PENDING</code>\n                  <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:12px; margin-right:4px;\
    \ margin-bottom:4px; display:inline-block;\">COMPLETED</code>\n              \
    \    <code style=\"font-family:monospace; background:#f7fafc; padding:2px 4px;\
    \ border-radius:3px; font-size:12px; margin-right:4px; margin-bottom:4px; display:inline-block;\"\
    >FAILED</code>\n                </span>\n              </td>\n            </tr>\n\
    \            <tr style=\"border-bottom:1px solid #f2f2f2;\">\n              <td\
    \ style=\"padding:12px 16px; color:#1a1f36; vertical-align:top;\">\n         \
    \       <code style=\"font-family:monospace; background:#f7fafc; padding:2px 4px;\
    \ border-radius:3px; font-size:13px;\">ref_id</code>\n              </td>\n  \
    \            <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >string</td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >\n                The client-specified ID of the transfer for replay protection\
    \ and lookup.\n                <span style=\"display:block; font-size:12px; color:#697386;\"\
    >(optional)</span>\n              </td>\n            </tr>\n            <tr style=\"\
    border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px 16px;\
    \ color:#1a1f36; vertical-align:top;\">\n                <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:13px;\">crypto_network</code>\n\
    \              </td>\n              <td style=\"padding:12px 16px; color:#4f566b;\
    \ vertical-align:top;\">enum</td>\n              <td style=\"padding:12px 16px;\
    \ color:#4f566b; vertical-align:top;\">\n                Cryptocurrency network\
    \ (e.g. <code>ETHEREUM</code>, <code>BASE</code>, <code>SOLANA</code>)\n     \
    \           <span style=\"display:block; font-size:12px; color:#697386;\">(optional,\
    \ present for crypto transfers)</span>\n              </td>\n            </tr>\n\
    \            <tr style=\"border-bottom:1px solid #f2f2f2;\">\n              <td\
    \ style=\"padding:12px 16px; color:#1a1f36; vertical-align:top;\">\n         \
    \       <code style=\"font-family:monospace; background:#f7fafc; padding:2px 4px;\
    \ border-radius:3px; font-size:13px;\">crypto_tx_hash</code>\n              </td>\n\
    \              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >string</td>\n              <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\"\
    >\n                On-chain transaction hash\n                <span style=\"display:block;\
    \ font-size:12px; color:#697386;\">(optional, present for crypto transfers when\
    \ available)</span>\n              </td>\n            </tr>\n            <tr style=\"\
    border-bottom:1px solid #f2f2f2;\">\n              <td style=\"padding:12px 16px;\
    \ color:#1a1f36; vertical-align:top;\">\n                <code style=\"font-family:monospace;\
    \ background:#f7fafc; padding:2px 4px; border-radius:3px; font-size:13px;\">crypto_tx_index</code>\n\
    \              </td>\n              <td style=\"padding:12px 16px; color:#4f566b;\
    \ vertical-align:top;\">string</td>\n              <td style=\"padding:12px 16px;\
    \ color:#4f566b; vertical-align:top;\">\n                The output index or output\
    \ address\n                <span style=\"display:block; font-size:12px; color:#697386;\"\
    >(optional, present for crypto transfers when available)</span>\n            \
    \  </td>\n            </tr>\n            <tr>\n              <td style=\"padding:12px\
    \ 16px; color:#1a1f36; vertical-align:top;\">\n                <code style=\"\
    font-family:monospace; background:#f7fafc; padding:2px 4px; border-radius:3px;\
    \ font-size:13px;\">memo</code>\n              </td>\n              <td style=\"\
    padding:12px 16px; color:#4f566b; vertical-align:top;\">string</td>\n        \
    \      <td style=\"padding:12px 16px; color:#4f566b; vertical-align:top;\">\n\
    \                Memo associated with the transfer as an identifier\n        \
    \        <span style=\"display:block; font-size:12px; color:#697386;\">(optional,\
    \ present for fiat transfers when available)</span>\n              </td>\n   \
    \         </tr>\n          </tbody>\n        </table>\n      </div>\n    </div>\n\
    \  </div>\n\n  \n</div>\n"
  name: Event Objects
paths:
  /profiles:
    get:
      description: |-
        Return the associated Profiles for the current Account.
        The paginated results default to the maximum limit of 1,000 Profiles, unless otherwise specified with the `limit` parameter.
        Every paginated response contains a `next_page` field until the last page is reached.
        Pass the `next_page` value into the `page_cursor` field of the next request to retrieve the next page of results.
      operationId: ListProfiles
      parameters:
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return items in ascending (ASC) or descending (DESC) order. Defaults
          to ASC.
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - description: The specific method by which the returned results will be ordered.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - CREATED_AT
          type: string
        style: form
      - description: Cursor token for fetching the next page.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Optionally filter by Profile display name. Retrieves nickname(s)
          based on the beginning characters of the given display name (prefix matching).
          Case insensitive. WIldcards and regular expressions not supported.
        explode: true
        in: query
        name: nickname
        required: false
        schema:
          type: string
        style: form
      - description: Optionally filter by the UUIDs of the profiles. Limit 100.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    items:
                    - id: 1a763ac5-13d9-4568-bb8b-747c416b105c
                      nickname: default
                      type: DEFAULT
                    - id: b7b77d82-e6a7-4ae9-9904-36231aedf985
                      nickname: MyProfileName
                      type: NORMAL
              schema:
                $ref: '#/components/schemas/ListProfilesResponse'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: List Profiles
      tags:
      - Profiles
    post:
      description: Create a new profile for this account. Profiles created using this
        endpoint always have a type of `NORMAL`.
      operationId: CreateProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: A successful response.
      security:
      - OAuth2:
        - funding:write_profile
      summary: Create Profile
      tags:
      - Profiles
  /profiles/{profile_id}:
    get:
      description: "Read a single profile by its UUID, or read the default profile\
        \ using the alias \"default\"."
      operationId: GetProfile
      parameters:
      - description: "The UUID of the profile, or \"default\" for the default profile."
        explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      - description: Used to include deactivated profiles in the response.
        explode: true
        in: query
        name: include_deactivated
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                profile_id=b7b77d82-e6a7-4ae9-9904-36231aedf985:
                  value:
                    id: b7b77d82-e6a7-4ae9-9904-36231aedf985
                    nickname: MyProfileName
                    type: NORMAL
              schema:
                $ref: '#/components/schemas/Profile'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: Get Profile
      tags:
      - Profiles
    put:
      description: Change the `nickname` label for the given `profile_id` (Profile).
      operationId: UpdateProfile
      parameters:
      - explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePublicUpdateProfileBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: A successful response.
      security:
      - OAuth2:
        - funding:write_profile
      summary: Update Profile
      tags:
      - Profiles
  /profiles/{profile_id}/balances:
    get:
      description: |-
        Retrieve the Profile’s available and trading balances.
        Use query parameters to retrieve a defined set of assets.
        Omit query parameters to retrieve all asset balances.
      operationId: ListProfileBalances
      parameters:
      - explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: assets
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                assets=BTC,USD:
                  value:
                    items:
                    - asset: BTC
                      available: "1.23103715"
                      trading: ".25"
                    - asset: USD
                      available: "1510.23"
                      trading: "100.00"
                All Assets:
                  value:
                    items:
                    - asset: USD
                      available: "1510.23"
                      trading: "100.00"
                    - asset: EUR
                      available: "0"
                      trading: "0"
                    - asset: SGD
                      available: "0"
                      trading: "0"
                    - asset: BTC
                      available: "1.23103715"
                      trading: ".25"
                    - asset: ETH
                      available: "0"
                      trading: "0"
                    - asset: PAXG
                      available: "0"
                      trading: "0"
                    - asset: BCH
                      available: "0"
                      trading: "0"
                    - asset: SOL
                      available: "0"
                      trading: "0"
              schema:
                $ref: '#/components/schemas/ListProfileBalancesResponse'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: List Profile Balances
      tags:
      - Profiles
  /profiles/{profile_id}/balances/{asset}:
    get:
      description: Get the balance of `asset` in a profile.
      operationId: GetProfileBalance
      parameters:
      - explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: asset
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileBalance'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: Get Profile Balance
      tags:
      - Profiles
  /profiles/{profile_id}/deactivate:
    put:
      description: |-
        Deactivate the given `profile_id`. The default profile cannot be deactivated.
        Deactivated profiles won't be visible for deposits.
        Profiles with more than zero balances cannot be deactivated.
        If a deactivated profile has a non-zero balance it will be reactivated.
      operationId: DeactivateProfile
      parameters:
      - description: |-
          The UUID of the profile.
          The default profile cannot be deactivated.
          The profile must have a zero balance to be deactivated.
        explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateProfileResponse'
          description: A successful response.
      security:
      - OAuth2:
        - funding:write_profile
      summary: Deactivate Profile
      tags:
      - Profiles
  /sandbox/profiles/{profile_id}/deposit:
    post:
      description: |-
        Create a test deposit to fund a profile in the sandbox environment.

        Always specify `crypto_network` when making a crypto sandbox deposit. Omit the parameter when depositing fiat.

        *This functionality is only available in the sandbox environment.*
      operationId: CreateSandboxDeposit
      parameters:
      - description: The ID of the profile that will credited with the assets.
        explode: false
        in: path
        name: profile_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundingSandboxCreateSandboxDepositBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSandboxDepositResponse'
          description: A successful response.
      security:
      - OAuth2:
        - funding:read_profile
      summary: Create Sandbox Deposit
      tags:
      - Sandbox Deposits
  /identity/identities:
    get:
      description: |-
        This endpoint enables you to fetch a list of Identities.
        You can use query parameters to filter the results returned by `created_at`, `updated_at`, `summary_status` and `identity_type`

        Note that this endpoint supports pagination and returns a cursor token for fetching next pages.
      operationId: ListIdentities
      parameters:
      - description: Summary Status of the Identity.
        explode: true
        in: query
        name: summary_status
        required: false
        schema:
          enum:
          - PENDING
          - ERROR
          - APPROVED
          - DENIED
          - DISABLED
          type: string
        style: form
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: created_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly less than lt. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.lt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps less than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.lte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps exactly equal to eq. RFC3339 format, like\
          \ `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.eq
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps greater than or equal to lte. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.gte
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Include timestamps strictly greater than gt. RFC3339 format,\
          \ like `2006-01-02T15:04:05Z`."
        explode: true
        in: query
        name: updated_at.gt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Return items in ascending (ASC) or descending (DESC) order. Defaults
          to DESC.
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - DESC
          - ASC
          type: string
        style: form
      - description: The specific method by which the returned results will be ordered.
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - CREATED_AT
          type: string
        style: form
      - description: Cursor token for fetching the next page.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Optionally filter by Identity type
        explode: true
        in: query
        name: identity_type
        required: false
        schema:
          enum:
          - PERSON
          - INSTITUTION
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdentitiesResponse'
          description: A successful response.
      security:
      - OAuth2:
        - identity:read_identity
      summary: List Identities
      tags:
      - Identity
    post:
      description: |-
        Creates a new Person or Institution Identity on the Paxos Platform.

        A successful response indicates that the identity has been created and is `PENDING` approval. The identity is only
        available to use on the Platform once it is `APPROVED`. For a full description of statuses read the [status guide here](https://docs.paxos.com/identity/statuses).

        For detailed guidance on which [fields are required](https://docs.paxos.com/identity/required-details) for your integration
        or the [lifecycle of an Identity](https://docs.paxos.com/identity/statuses) on the platform, please read the [Identity Developer Guide](https://docs.paxos.com/identity).
      operationId: CreateIdentity
      requestBody:
        content:
          application/json:
            examples:
              Create Person Identity:
                value:
                  person_details:
                    verifier_type: PASSTHROUGH
                    passthrough_verifier_type: JUMIO
                    passthrough_verified_at: 2021-06-16T09:28:14Z
                    first_name: John
                    last_name: Doe
                    date_of_birth: 1980-01-01
                    phone_number: +1 555 678 1234
                    email: example@somemail.org
                    cip_id: 111-11-1234
                    cip_id_type: SSN
                    cip_id_country: USA
                    nationality: USA
                    address:
                      country: USA
                      address1: 1 Example St
                      city: New York
                      province: NY
                      zip_code: "10001"
                    metadata:
                      custom_property1: custom value 1
                      custom_property2: custom value 2
                  ref_id: 33ece656-eef1-43b5-a851-b6b9099089a5
              Create Institutional Identity:
                value:
                  institution_members:
                  - identity_id: a81d4cf9-da6d-40ff-9366-0405aedfd31e
                    roles:
                    - GRANTOR
                  - identity_id: e458c723-edfa-478e-a01c-939707c0be9f
                    roles:
                    - TRUSTEE
                  - identity_id: b11242ea-5772-4970-934b-6336540ded05
                    roles:
                    - BENEFICIAL_OWNER
                  institution_details:
                    name: Institution A
                    institution_type: TRUST
                    institution_sub_type: INVESTMENT
                    cip_id: 12-9569897
                    cip_id_type: EIN
                    cip_id_country: USA
                    govt_registration_date: 2021-04-14T00:00:00Z
                    business_address:
                      address1: 1 Example St
                      city: New York
                      country: USA
                      province: NY
                      zip_code: "10001"
                    incorporation_address:
                      address1: 1 Example St
                      city: New York
                      country: USA
                      province: NY
                      zip_code: "10001"
                    regulation_status: NON_REGULATED
                    trading_type: PRIVATE
                  ref_id: 33ece656-eef1-43b5-a851-b6b9099089a6
            schema:
              $ref: '#/components/schemas/CreateIdentityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Person Identity with Passthrough:
                  value:
                    created_at: 2022-02-15T05:46:50.957068Z
                    id: 36ae1728-c54a-4046-86df-8a413e0ab9b3
                    person_details:
                      additional_screening_status: PENDING
                      address:
                        address1: 1 Example St
                        city: New York
                        country: USA
                        province: NY
                        zip_code: "10001"
                      cip_id: 111-11-1234
                      cip_id_country: USA
                      cip_id_type: SSN
                      date_of_birth: 1980-01-01T00:00:00Z
                      first_name: John
                      govt_id: 111-11-1234
                      govt_id_type: SSN
                      id_verification_status: APPROVED
                      last_name: Doe
                      nationality: USA
                      passthrough_verified_at: 2021-06-16T09:28:14Z
                      passthrough_verifier_type': JUMIO
                      sanctions_verification_status: PENDING
                      verifier_type: PASSTHROUGH
                    ref_id: 33ece656-eef1-43b5-a851-b6b9099089a5
                    summary_status: PENDING
                    tax_details:
                    - tax_payer_country: USA
                      tax_payer_id: 111-11-1234
                    type: PERSON
                    updated_at: 2022-02-15T05:46:50.957068Z
                Create Institutional Identity:
                  value:
                    created_at: 2022-02-15T22:47:06.808912Z
                    id: 09d32f7b-fe0c-47d0-9968-89267909320a
                    institution_details:
                      additional_screening_status: PENDING
                      business_address:
                        address1: 1 Example St
                        city: New York
                        country: USA
                        province: NY
                        zip_code: "10001"
                      cip_id: 12-9876543
                      cip_id_country: USA
                      cip_id_type: EIN
                      document_verification_status: PENDING
                      govt_registration_date: 2021-04-14T00:00:00Z
                      incorporation_address:
                        address1: 1 Example St
                        city: New York
                        country: USA
                        province: NY
                        zip_code: "10001"
                      institution_sub_type: INVESTMENT
                      institution_type: TRUST
                      name: Institution A
                      regulation_status: NON_REGULATED
                      sanctions_verification_status: PENDING
                      trading_type: PRIVATE
                    institution_members:
                    - identity_id: a81d4cf9-da6d-40ff-9366-0405aedfd31e
                      roles:
                      - GRANTOR
                    - identity_id: e458c723-edfa-478e-a01c-939707c0be9f
                      roles:
                      - TRUSTEE
                    - identity_id: b11242ea-5772-4970-934b-6336540ded05
                      roles:
                      - BENEFICIAL_OWNER
                    ref_id: 33ece656-eef1-43b5-a851-b6b9099089a6
                    summary_status: PENDING
                    tax_details:
                    - tax_payer_country: USA
                      tax_payer_id: 12-9876543
                    type: INSTITUTION
                    updated_at: 2022-02-15T22:47:06.808912Z
              schema:
                $ref: '#/components/schemas/Identity'
          description: A successful response.
        "409":
          content:
            application/json:
              examples:
                Create Identity with the same SSN:
                  value:
                    type: https://developer.paxos.com/docs/v2/problems/already-exists
                    title: Already Exists
                    status: 409
                    detail: "duplicate (cip_id, cip_id_type, cip_id_country) provided"
                    meta:
                      existing:
                        id: 36ae1728-c54a-4046-86df-8a403e0ab9b3
                Duplicate fef_id provided:
                  value:
                    type: https://developer.paxos.com/docs/v2/problems/already-exists
                    title: Already Exists
                    status: 409
                    detail: duplicate ref_id provided
                    meta:
                      existing:
                        id: c9560de1-835c-48fa-bd1a-e91da2ef770c
              schema:
                $ref: '#/components/schemas/Problem'
          description: Duplicate identity record
      security:
      - OAuth2:
        - identity:write_identity
      summary: Create Identity
      tags:
      - Identity
  /identity/identities/{identity_id}/documents:
    get:
      description: This endpoint enables you to get a list of all documents associated
        with an identity.
      operationId: ListIdentityDocuments
      parameters:
      - description: id associated with the identity
        explode: false
        in: path
        name: identity_id
        required: true
        schema:
          type: string
        style: simple
      - description: Add a list of pending document types for the identity
        explode: true
        in: query
        name: include_pending_docs
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List Identity Documents:
                  value:
                    documents:
                    - file_id: e1959b03-8c3d-4bdd-9437-403ccf8772f5
                      name: test_file.png
                      document_types:
                      - OTHER_DOCUMENTS
                      - APPLICATION
                      created_at: 2023-07-07T23:03:19.170481Z
              schema:
                $ref: '#/components/schemas/ListIdentityDocumentsResponse'
          description: A successful response.
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    detail: Identity with id f6b1365a-dc8e-4526-aa3f-e688826c36be
                      doesn't exist
                    status: 404
                    title: Not Found
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Not Found
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  value:
                    detail: Forbidden
                    status: 403
                    title: Forbidden
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Permissions Denied
      security:
      - OAuth2:
        - identity:read_identity
      summary: List Identity Documents
      tags:
      - Identity Documents
    put:
      description: |-
        This endpoint enables you to receive a URL to upload a document to Paxos for identity verification or enhanced due diligence purposes.
        When uploading a document you must specify the document type. You will receive a
        URL where you can upload the document using a POST request.

        Requirements:
        - Uploaded documents must be less than 100 MB in size
        - Supported formats include PDF, JPG, and PNG

        For more information on document requirements for enhanced due diligence, see [here](https://docs.paxos.com/identity/edd).
      operationId: DocumentUpload
      parameters:
      - description: The id of the identity the document is associated with.
        explode: false
        in: path
        name: identity_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Create Document Upload:
                value:
                  name: Proof_of_residence.jpg
                  document_types:
                  - PROOF_OF_RESIDENCY
            schema:
              $ref: '#/components/schemas/IdentityPublicDocumentUploadBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Document Upload:
                  value:
                    file_id: f190b163-208f-4d73-8deb-4fb8b24add00
                    name: Proof_of_residence.jpg
                    upload_url: https://s3.amasonaws.com/pax...cec3f64fe20348685a
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
          description: A successful response.
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  value:
                    detail: document storage not enabled
                    status: 403
                    title: Forbidden
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Permissions Denied
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    detail: identity does not exist
                    status: 404
                    title: Not Found
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Not Found
        "400":
          content:
            application/json:
              examples:
                Invalid Request:
                  value:
                    detail: "must provide a file name, up to 260 characters"
                    status: 400
                    title: Bad Request
                    type: about:blank
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "409":
          content:
            application/json:
              examples:
                Duplicate File Name:
                  value:
                    detail: file named "Proof_of_residence.jpg" already exists
                    meta:
                      existing:
                        name: Proof_of_residence.jpg
                    status: 409
                    title: Already Exists
                    type: https://developer.paxos.com/docs/v2/problems/already-exists
              schema:
                $ref: '#/components/schemas/Problem'
          description: Already Exists
      security:
      - OAuth2:
        - identity:write_identity
      summary: Document Upload
      tags:
      - Identity Documents
  /identity/identities/{id}:
    get:
      description: |-
        Get an Identity by its (identity) id. You can only see identities created by you.

        You can use the query parameter `include_details` to include identity details (`person_details` or `institution_details`) in
        the response and the query parameter `include_institution_members` to include institution members in the response.
      operationId: GetIdentity
      parameters:
      - description: id associated with the identity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "query param; details are encrypted, so we do not want to include\
          \ them by default"
        explode: true
        in: query
        name: include_details
        required: false
        schema:
          type: boolean
        style: form
      - description: query param; to include institution members for institution identity
        explode: true
        in: query
        name: include_institution_members
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: A successful response.
      security:
      - OAuth2:
        - identity:read_identity
      summary: Get Identity
      tags:
      - Identity
    put:
      description: |-
        Updates an Identity, this action performs a delta of what is submitted in the update and the existing identity.
        - Updating details (`person_details` or `institution_details`) might lead to the identity being re-verified (e.g. re-screening name changes), which
        could impact the identity's ability to transact on the Platform.
        - Setting `set_user_disabled` to `true` will make the Identity `DISABLED` (read [more here](https://docs.paxos.com/identity/statuses) on what this means)
        - Setting `tax_details` will update all the tax details for the identity
[...]
